<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/jquery-3.4.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-material-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/system.js}"></script>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/feather.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/jquery.nstSlider.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/visible.js}"></script>
    <script th:src="@{/js/jquery.countTo.js}"></script>
    <script th:src="@{/js/chart.js}"></script>
    <script th:src="@{/js/plyr.js}"></script>
    <script th:src="@{/js/tinymce.min.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/datePicker.js}"></script>
    <script th:src="@{/js/upload-input.js}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script th:src="@{/js/map.js}"></script>

    <script th:src="@{/js/html5-simple-date-input-polyfill.min.js}"></script>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/jquery.caret.min.js}"></script>
    <script th:src="@{/js/searchMap.js}"></script>

    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/map.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <script th:src="@{/js/media.min.js}"></script>
    <script th:src="@{/js/custom/employer-dashboard.js}"></script>
    <script th:src="@{/js/custom/candidate-dashboard.js}"></script>

</footer>
