<head xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="Recruiment"></title>
    <link rel="icon" type="image/jpg" th:href="@{/images/fav/logo_favicon.jpg}">
    <link rel="stylesheet" th:href="@{/css/font_awesome.css}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- External Css -->
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/et-line.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/plyr.css}"/>
    <link rel="stylesheet" th:href="@{/css/flag.css}"/>
    <link rel="stylesheet" th:href="@{/css/slick.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.nstSlider.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/html5-simple-date-input-polyfill.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.tag-editor.css}"/>

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500"
          rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/favicon.png}">
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="114x114"
          th:href="@{/images/icon-114x114.png}">


    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

</head>