<!-- The Modal -->
<div class="modal" id="import-modal" th:fragment="import-modal" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" th:text="#{lbl.csv.import}">Import account from CSV</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <input type="hidden" th:value="#{message.error.file.extension}" id="file_wrong_extension">
                <input type="hidden" th:value="#{message.error.required}" id="file_required">
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form enctype="multipart/form-data" th:action="@{/file/uploadFile}" method="POST">
                    <div class="row">
                        <div class="col-4 text-muted text-right">
                            <label for="model_source_import_select" th:text="#{lbl.media.type}">Media</label>
                        </div>
                        <div class="col-5">
                            <select th:name="type" class="form-control" required id="model_source_import_select">
                                <option th:each="item : ${listMedia}" th:value="${item.mediaCode}"
                                        th:text="${item.reportSourceName}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto offset-4 alert alert-danger pt-0 pb-0" role="alert" id="alert_csv_file" style="position: absolute;top: 42%; font-size: small">
                            <span th:text="#{message.error.file.extension}"></span>
                        </div>
                        <div class="col-4 text-muted text-right">
                            <label for="csv-file" th:text="#{lbl.csv.import.file.label}">Choose File</label>
                        </div>
                        <div class="col-7">
                            <input type="file" name="file" class="input-file" id="csv-file" accept=".xlsx" required>
                            <label for="csv-file">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                    <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                                </svg>
                                <span th:text="#{lbl.csv.import.file.choose}">Choose a file...</span>
                            </label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5 offset-4">
                            <button class="btn btn-outline-primary w-100" name="btn_model_upload" url="/file/template" id="download_template">
                                <span th:text="#{btn.template}"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5 offset-4">
                            <button class="btn btn-outline-primary w-100" name="btn_model_upload" id="upload_csv_file">
                                <span th:text="#{btn.upload}">Import</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

