<div class="company-info" xmlns:th="http://www.thymeleaf.org" th:fragment="menu-dashboard-employer">
    <div class="thumb">
        <img th:src="@{/images/dashboard/company-logo.png}" class="img-fluid" alt="">
    </div>
    <div class="company-body">
        <h5 th:utext="${session?.userInfor?.fullName}"></h5>
        <span th:utext="${session?.userInfor?.email}"></span>
    </div>
</div>
<div class="profile-progress">
    <div class="progress-item">
        <div class="progress-head">
            <p class="progress-on">Profile</p>
        </div>
        <div class="progress-body">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
            </div>
            <p class="progress-to">70%</p>
        </div>
    </div>
</div>
<div class="dashboard-menu" xmlns:th="http://www.thymeleaf.org">
    <ul>
        <li class="active"><i class="fas fa-home"></i><a th:href="@{/employer/dashboard/}">Dashboard</a></li>
        <li><i class="fas fa-user"></i><a th:href="@{/employer/dashboard/profile/edit}">Edit Profile</a></li>
        <li><i class="fas fa-briefcase"></i><a th:href="@{'/employer/dashboard/job/manage?pageNumber=1&keyword='}">Manage Jobs</a></li>
        <li><i class="fas fa-users"></i><a th:href="@{'/employer/dashboard/candidate/manage?pageNumber=&keyword='}">Manage Candidates</a></li>
        <!--                    <li><i class="fas fa-heart"></i><a href="#">Shortlisted Resumes</a></li>-->
        <li><i class="fas fa-plus-square"></i><a th:href="@{/job/add}">Post New Job</a></li>
    </ul>
    <ul class="delete">
        <li><i class="fas fa-power-off"></i><a th:href="@{/logout}">Logout</a></li>
        <li><i class="fas fa-trash-alt"></i>
            <a th:href="@{/employer/dashboard/my-account/delete}"
               th:data-confirm-delete="|Are you sure you want to delete your account?|"
               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete Account
            </a>
        </li>
    </ul>

</div>