<div class="user-info" xmlns:th="http://www.thymeleaf.org" th:fragment="menu-dashboard-candidate"
     xmlns:sec="http://www.w3.org/1999/xhtml">
        <div class="thumb">
            <img th:src="@{/images/dashboard/user-1.jpg}" class="img-fluid" alt="">
        </div>
        <div class="user-body">
            <h5 th:utext="${session?.userInfor?.fullName}"></h5>
            <span th:utext="${session?.userInfor?.email}"></span>
        </div>
    </div>
    <div class="dashboard-menu" xmlns:th="http://www.thymeleaf.org">
        <ul>
            <li><i class="fas fa-home"></i><a th:href="@{/candidate/dashboard}">Dashboard</a></li>
            <li><i class="fas fa-user"></i><a th:href="@{/candidate/dashboard/edit/profile}">Edit Profile</a></li>
            <li><i class="fas fa-user"></i><a th:href="@{/candidate/dashboard/change/password}">Change Password</a></li>
            <li sec:authorize="hasAuthority('CANDIDATE')"><i class="fas fa-file-alt"></i><a th:href="@{/candidate/resume/detail}">Your Resume</a></li>
            <li sec:authorize="hasAuthority('CANDIDATE')"><i class="fas fa-edit"></i><a th:href="@{/candidate/resume/edit}">Edit Resume</a></li>
            <li sec:authorize="hasAuthority('CANDIDATE')"><i class="fas fa-heart"></i><a th:href="@{/candidate/dashboard/bookmark}">Bookmarked</a></li>
            <li><i class="fas fa-check-square"></i><a th:href="@{/candidate/dashboard/applied/}">Applied Job</a></li>
        </ul>
        <ul class="delete">
            <li><i class="fas fa-power-off"></i><a th:href="@{/logout}">Logout</a></li>
            <li><i class="fas fa-trash-alt"></i>
                <a th:href="@{/candidate/my-account/delete}"
                   th:data-confirm-delete="|Are you sure you want to delete your account?|"
                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete Account
                </a>
            </li>
        </ul>
    </div>