<div th:fragment="pagination" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="float-left text-muted">
        <label th:text="${totalCount}">0</label><span th:text="#{lbl.general.total}"></span>
    </div>
    <ul class="pagination float-right" th:if="${totalPage > 1}">
        <li th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
            <a class="page-link" th:href="${baseUrl + 1}">最初</a>
        </li>
        <li th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
            <a class="page-link" aria-label="Previous"
               th:href="${baseUrl + (currentIndex - 1)}"
               title='Go to previous page'><span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span></a>
        </li>
        <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
            th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
            <a class="page-link" th:href="${baseUrl + item}"> <span
                    th:text="${item == endIndex &&  item > limit - 1 && currentIndex != endIndex  ? '...' : item}">1</span>
            </a>
        </li>
        <li th:class="${currentIndex >= endIndex}? 'page-item disabled': 'page-item'">
            <a class="page-link" aria-label="Next"
               th:href="${baseUrl + (currentIndex + 1)}" title='Go to next page'><span
                    aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
        </li>
        <li th:class="${currentIndex >= endIndex}? 'page-item disabled':'page-item'">
            <a class="page-link" th:href="${baseUrl + totalPage}">最後</a>
        </li>
    </ul>
</div>
