<header class="header-2" xmlns:th="http://www.thymeleaf.org" th:fragment="header"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-top">
                    <div class="logo-area">
                        <a th:href="@{/home}"><img th:src="@{/images/logo-2.png}" alt=""></a>
                    </div>
                    <div class="header-top-toggler">
                        <div class="header-top-toggler-button"></div>
                    </div>
                    <div class="top-nav">

                        <div sec:authorize="isAuthenticated()" class="dropdown header-top-account">
                            <a href="#" class="account-button">My Account</a>
                            <div class="account-card">
                                <div class="header-top-account-info">
                                    <a href="#" class="account-thumb">
                                        <img th:src="@{/images/account/thumb-1.jpg}" class="img-fluid" alt="">
                                    </a>
                                    <div class="account-body">
                                        <h5><a href="#" th:utext="${session?.userInfor?.fullName}"></a></h5>
                                        <span class="mail" th:utext="${session?.userInfor?.email}"></span>
                                    </div>
                                </div>
                                <ul class="account-item-list">
                                    <li sec:authorize="hasAuthority('CANDIDATE')"><a th:href="@{/candidate/dashboard/edit/profile}"><span class="ti-user"></span>Account</a></li>
                                    <li sec:authorize="hasAuthority('ADMIN_COMPANY')"><a th:href="@{/employer/dashboard/profile/edit}"><span class="ti-user"></span>Account</a></li>
                                    <li><a th:href="@{/logout}"><span class="ti-power-off"></span>Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div sec:authorize="!isAuthenticated()" style="padding-right: 23%;">
                            <a style="color: grey; font-size: 14px;"
                            th:href="@{/login}">Login</a>
                        </div>
                        <div>
                            <a style="color: grey; cursor: pointer; font-size: 14px;" data-toggle="modal" data-target="#exampleModalLong2">Register</a>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg cp-nav-2">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="menu-item active"><a title="Home" th:href="@{/home}">Home</a></li>
                            <li class="menu-item dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"
                                   aria-expanded="false">Jobs</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a th:href="@{'/job/list?pageNumber=1&keyword='}">Job Listing</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyAuthority('ADMIN_SYSTEM', 'ADMIN_COMPANY')" class="menu-item dropdown">
                                <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"
                                   aria-expanded="false">Candidates</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item">
                                        <a th:href="@{'/candidate/list?pageNumber=1&keyword='}">Candidate Listing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item dropdown">
                                <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"
                                   aria-expanded="false">Employers</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a th:href="@{/company/list?pageNumber=1&keyword=}">Employer Listing</a></li>
                                </ul>
                            </li>
                            <li class="menu-item dropdown">
                                <a sec:authorize="hasAuthority('CANDIDATE')" th:href="@{/candidate/dashboard}">Dashboard</a>
                                <a sec:authorize="hasAuthority('ADMIN_COMPANY')" th:href="@{/company/dashboard}">Dashboard</a>
                            </li>
                            <li sec:authorize="hasAnyAuthority('CANDIDATE', 'ADMIN_COMPANY')" class="menu-item dropdown">
                                <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"
                                   aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a th:href="@{/common/aboutus}">About Us</a></li>
                                    <li class="menu-item"><a th:href="@{/common/work}">How It Works</a></li>
                                    <li class="menu-item"><a th:href="@{/common/terms}">Terms And Condition</a></li>
                                </ul>
                            </li>
<!--                            <li sec:authorize="hasAnyAuthority('CANDIDATE', 'ADMIN_COMPANY')" class="menu-item"><a th:href="@{/common/contact}">Contact Us</a></li>-->
                            <li sec:authorize="hasAnyAuthority('ADMIN_SYSTEM', 'ADMIN_COMPANY')" class="menu-item post-job">
                                <a th:href="@{/job/add}"><i class="fas fa-plus"></i>Post a Job</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div xmlns:th="http://www.thymeleaf.org" class="modal fade" id="exampleModalLong2" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i data-feather="edit"></i>Registration
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary btn-lg"
                        style="font-size: 16px; padding: 3% 5%; margin-right: 15%; margin-left: 15%;">
                    <a th:href="@{/register/candidate}">
                        Candidate
                    </a>
                </button>
                <button class="btn btn-primary btn-lg" style="font-size: 16px; padding: 3% 5%;">
                    <a th:href="@{/register/company}">
                        Company
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

