<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Call to Action -->
    <div class="call-to-action-bg padding-top-90 padding-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="call-to-action-2">
                        <div class="call-to-action-content">
                            <h2>For Find Your Dream Job or Candidate</h2>
                            <p>Add resume or post a job. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                        </div>
                        <div class="call-to-action-button">
                            <a th:href="@{/candidate/resume/add}" class="button">Add Resume</a>
                            <span>Or</span>
                            <a th:href="@{/job/add}" class="button">Post A Job</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->
    <!-- Footer -->
    <footer class="footer-bg">
        <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="footer-widget widget-about">
                            <h4>About Us</h4>
                            <div class="widget-inner">
                                <p class="description">There are many variations of passages
                                    of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour.</p>
                                <span class="about-contact"><i
                                        data-feather="phone-forwarded"></i>+8 246-345-0698</span> <span
                                    class="about-contact"><i data-feather="mail"></i>supportmail@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Information</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a th:href="@{/common/aboutus}">About Us</a></li>
                                    <li><a th:href="@{/common/contact}">Contact Us</a></li>
                                    <li><a th:href="@{/common/terms}">Terms &amp; Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Job Seekers</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a th:href="@{/register/candidate}">Create Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Employers</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a th:href="@{/register/company}">Create Account</a></li>
                                    <li><a th:href="@{/job/add}">Post a Job</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area" style="background-color: rgb(248, 248, 248);"  >
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer-bottom border-top">
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 order-lg-2">
                                </div>
                                <div class="col-xl-4 col-lg-4 order-lg-1">
                                </div>
                                <div class="col-xl-4 col-lg-3 order-lg-3">
                                    <div class="back-to-top">
                                        <a href="#">Back to top<i class="fas fa-angle-up"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</body>

</html>