<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header"></head>
<body>

<div th:insert="common/sub-head"></div>

<div class="padding-top-80 section-padding-bottom alice-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div
                class="section-padding-150 error-page-wrap text-center white-bg">
          <div class="icon">
            <img th:src="@{/images/confirm/congratulation.jpg}" class="img-fluid"
                 alt="">
          </div>

          <p th:if="${applySuccess}">Apply Job Successfully!</p>
          <p th:text="'We have just sent notification email at your apply job email :  '+${emailAddress}"></p>
            <p>If you dont receive any email from us, maybe your email is incorrect. Please apply this job again with valid email so that Hr team can contact to you!</p>
          <a class="button" onclick="goBack()">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/footer :: footer"></div>

<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>

</html>