<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
  <body>
<div th:insert="common/sub-head"></div>
<!-- Candidates Details -->
    <div class="alice-bg padding-top-60 section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="candidate-details">
              <div class="title-and-info">
                <div class="title">
                  <div class="thumb">
                    <img th:src="@{/images/candidate/thumb-1.jpg}" class="img-fluid" alt="">
                  </div>
                  <div class="title-body">
                    <h4 th:utext="${candidateDetail.getFullName()}"></h4>
                    <div class="info">
                      <span class="candidate-designation">
                        <i data-feather="check-square"></i>
                      </span>
                      <span class="candidate-location" th:utext="${candidateDetail.getLocation()}">
                        <i data-feather="map-pin"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="download-resume">
                  <a th:href="@{/candidate/downloadCV}">Download CV <i data-feather="download"></i></a>
                </div>
              </div>
              <div class="skill-and-profile">
                <div class="skill">
                  <label>Expertise:</label>
                  <div th:utext="${candidateDetail.getExpertise()}"></div>
                </div>
              </div>
              <div class="details-information section-padding-60">
                <div class="row">
                  <div class="col-xl-7 col-lg-8">
                    <div class="about-details details-section">
                      <h4><i data-feather="align-left"></i>About Me</h4>
                      <p th:utext="${candidateDetail.getAboutMe()}"></p>
                    </div>
                    <div class="edication-background details-section">
                      <h4><i data-feather="book"></i>Education Background</h4>
                      <div class="education-label">
                        <p th:utext="${candidateDetail.getEducationBackground()}"></p>
                      </div>
                    </div>
                    <div class="experience details-section">
                      <h4><i data-feather="briefcase"></i>Work Experience</h4>
                      <div class="experience-section">
                        <p th:utext="${candidateDetail.getWorkExperience()}"></p>
                      </div>
                    </div>
                    <div class="professonal-skill details-section">
                      <h4><i data-feather="feather"></i>Professional Skill</h4>
                      <p th:utext="${candidateDetail.getProfessionalSkill()}"></p>
                    </div>
                    <div class="special-qualification details-section">
                      <h4><i data-feather="gift"></i>Special Qualification</h4>
                      <ul>
                        <li th:utext="${candidateDetail.getSpecialQualification()}"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xl-4 offset-xl-1 col-lg-4">
                    <div class="information-and-contact">
                      <div class="information">
                        <h4>Information</h4>
                        <ul>
                          <li><span th:utext="'Category: ' + ${candidateDetail.getExpertise()}"></span></li>
                          <li><span th:utext="'Location: ' + ${candidateDetail.getLocation()}"></span></li>
                          <li><span th:utext="'Status: ' + ${candidateDetail.getJobType()}"></span></li>
                          <li><span th:utext="'Experience: ' + ${candidateDetail.getExperience()}"></span></li>
                          <li><span th:utext="'Gender: ' + ${candidateDetail.getGender()}"></span></li>
                          <li><span th:utext="'Qualification: ' + ${candidateDetail.getQualification()}"></span></li>
                        </ul>
                      </div>
                      <div class="buttons">
                        <a href="#" class="button contact-button" data-toggle="modal" data-target="#exampleModal">Contact Me</a>
                      </div>
                      <!-- Modal -->
                      <div class="modal fade contact-form-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h4><i data-feather="edit"></i>Contact Me</h4>
                              <form th:action="@{/company/contact/{candidateId}(candidateId=${candidateDetail?.userId})}" method="POST">
                                <div class="form-group">
                                  <input id="com_name" type="text" class="form-control" name="name" placeholder="Your Company Name" required>
                                </div>
                                <div class="form-group">
                                  <input id="com_email" type="email" class="form-control" name="email" placeholder="Your Company Email" required>
                                </div>
                                <div class="form-group">
                                  <textarea id="com_message" class="form-control" name="message" placeholder="Your Message" required></textarea>
                                </div>
                                <button class="button" type="submit">Submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-7 col-lg-8">
                  <div class="personal-information details-section">
                    <h4><i data-feather="user-plus"></i>Personal Deatils</h4>
                    <ul>
                      <li><span th:utext="'Full Name: ' + ${candidateDetail.getFullName()}"></span></li>
                      <li><span th:utext="'Nationality: ' + ${candidateDetail.getLocation()}"></span></li>
                      <li><span th:utext="'Sex: ' + ${candidateDetail.getGender()}"></span></li>
                      <li><span th:utext="'Address: ' + ${candidateDetail.getAddress()}"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <hr>
              <a href="#"
                 style="font-size: 16px; padding: 15px 35px; margin: 2% 5% 0% 0%; text-align:center;"
                 class="btn btn-danger"
                 sec:authorize="hasAuthority('ADMIN_SYSTEM')"
                 th:data-confirm-delete="|Are you sure you want to delete this candidate: ${candidateDetail.getFullName()}?|"
                 onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete
              </a>
              <a th:href="@{/candidate/dashboard/edit/profile}"
                 style="font-size: 16px; padding: 15px 35px; margin: 2% 0% 0% 0%; text-align:center;"
                 class="btn btn-warning"
                 sec:authorize="hasAuthority('CANDIDATE')">Edit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Candidates Details End -->

<div th:insert="common/sub-footer"></div>
<div th:replace="common/footer :: footer"></div>
  </body>
</html>