<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>
  <div th:insert="common/sub-head"></div>

    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Candidates List</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Candidates List</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="breadcrumb-form">
              <form th:action="@{/candidate/list}">
                <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Enter Keyword" />
                <button type="submit">
                  <i data-feather="search"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Job Listing -->
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <div class="candidate-container">
              <div class="filtered-candidate-wrapper">
                <div class="candidate-view-controller-wrapper">
                  <div class="candidate-view-controller">
                    <div class="controller list active">
                      <i data-feather="menu"></i>
                    </div>
                    <div class="controller grid">
                      <i data-feather="grid"></i>
                    </div>
<!--                    <div class="candidate-view-filter">-->
<!--                      <select class="selectpicker">-->
<!--                        <option value="" selected>Most Recent</option>-->
<!--                        <option value="california">Top Rated</option>-->
<!--                        <option value="las-vegas">Most Popular</option>-->
<!--                      </select>-->
<!--                    </div>-->
                  </div>
                  <div class="showing-number" th:if="${!isEmptyListCandidate}">
                    <span th:if="${page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.number*pageSize+pageSize} +' of ' + ${page.totalElements}+ ' Jobs'"></span>
                    <span th:if="${!page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.totalElements} +' of ' + ${page.totalElements}+ ' Jobs'"></span>
                  </div>
                </div>
                <div class="candidate-filter-result">
                  <div class="candidate" th:each="can : ${page}">
                    <div class="thumb">
                      <a href="#">
                        <img th:src="@{/images/candidate/thumb-9.jpg}" class="img-fluid" alt="">
                      </a>
                    </div>
                    <div class="body">
                      <div class="content">
                        <h4><a th:href="@{'/candidate/detail/' + ${can.getUserId()}}"
                               th:utext="${can.getFullName()}"></a></h4>
                        <div class="info">
                          <span class="work-post">
                            <i data-feather="check-square"></i>
                            <a href="#" th:utext="${can.getExpertise()}"></a>
                          </span>
                          <span class="location">
                            <i data-feather="map-pin"></i>
                            <a href="#" th:utext="${can.getAddress()}"></a></span>
                        </div>
                      </div>
                      <div class="buttons">
                        <a class="btn btn-primary"
                           style="font-size: 15px; padding: 7px 10px;"
                           th:href="@{'/candidate/detail/' + ${can.getUserId()}}">View
                        </a>
                        <a sec:authorize="hasAuthority('ADMIN_SYSTEM')"
                           th:href="@{'/candidate/delete/' + ${can.getUserId()}}"
                           style="font-size: 15px; padding: 7px 10px; margin: 0px 0px 0px 10px;"
                           class="btn btn-danger"
                           th:data-confirm-delete="|Are you sure you want to delete this candidate: ${can.getFullName()}?|"
                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pagination-list text-center" th:if="${!isFilter}">
                  <nav class="navigation pagination" th:if="${!isEmptyListCandidate}">
                    <div class="nav-links">
                      <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                        <a th:href="@{'/candidate/list?pageNumber=' + ${page.number} + '&keyword=' + ${keyword}}">Pre</a>
                      </span>
                      <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
                          <a th:href="@{'/candidate/list?pageNumber='+${i+1}+ '&keyword=' + ${keyword}}">[[${i}+1]]</a>
                        </span>
                      </span>
                      <span class="next page-numbers" th:if="${page.hasNext()}">
                        <a th:href="@{'/candidate/list?pageNumber='+${page.number+2}+ '&keyword=' + ${keyword}}">Next</a>
                      </span>
                    </div>
                  </nav>
                </div>
                <div class="pagination-list text-center" th:if="${isFilter}">
                  <nav class="navigation pagination" th:if="${!isEmptyListCandidate}">
                    <div class="nav-links">
                      <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                        <a th:href="@{'/candidate/filter?pageNumber=' + ${page.number} + '&expertise=' + ${expertise}+'&skill='+${skill}+'&experience='+${experience}}">Pre</a>
                      </span>
                      <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
                          <a th:href="@{'/candidate/filter?pageNumber='+${i+1}+ '&expertise=' + ${expertise}+'&skill='+${skill}+'&experience='+${experience}}">[[${i}+1]]</a>
                        </span>
                      </span>
                      <span class="next page-numbers" th:if="${page.hasNext()}">
                        <a th:href="@{'/candidate/filter?pageNumber='+${page.number+2}+ '&expertise=' + ${expertise}+'&skill='+${skill}+'&experience='+${experience}}">Next</a>
                      </span>
                    </div>
                  </nav>
                </div>
              </div>
              <div class="employer-filter-wrapper">
                <div style="padding-left: 25px">
                  <p style="color: #706f6f">You've selected: </p>
                  <div style="color: #ba3030" th:if="${(param.expertise != null)}">
                    <span><i class="fas fa-check"></i></span><span th:text="${param.expertise[0]}"></span>
                  </div>
                  <div style="color: #ba3030" th:if="${(param.skill != null)}" >
                    <span><i class="fas fa-check"></i></span><span th:text="${param.skill[0]}"></span>
                  </div>
                  <div style="color: #ba3030" th:if="${(param.experience != null)}" >
                    <span><i class="fas fa-check"></i></span><span th:text="${param.experience[0]}"></span>
                  </div>
                </div>
                <form th:action="@{/candidate/filter}">
                  <div class="employer-filter-dropdown same-pad category">
                    <select class="selectpicker" th:name="expertise">
                      <option value="">Expertise</option>
                      <option th:each="expertise : ${listExpertise}" th:text="${expertise.getName()}" th:value="${expertise.name}"></option>
                    </select>
                  </div>
                  <div class="employer-filter-dropdown same-pad category">
                    <select class="selectpicker" th:name="skill">
                      <option value="">Skill</option>
                      <option  th:each="skill : ${listSkill}" th:text="${skill.getName()}" th:value="${skill.name}"></option>
                    </select>
                  </div>
                  <div class="employer-filter-dropdown same-pad category">
                    <select class="selectpicker" th:name="experience">
                      <option value="">Experience</option>
                      <option  th:each="experience : ${listExperienceYear}" th:text="${experience}" th:value="${experience}"></option>
                    </select>
                  </div>
                  <div style="margin-left: 25px; margin-top: 20px">
                    <button type="submit" >
                      <span style="color: #9eacfd"><i class="fas fa-filter"></i></span>Filter
                    </button>
                    <button>
                      <span style="color: red"><i class="far fa-times-circle"></i></span><a th:href="@{/candidate/list(pageNumber=1, keyword='')}">Clear All</a>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Job Listing End -->

  <div th:insert="common/sub-footer"></div>
  <div th:replace="common/footer :: footer"></div>
  </body>
</html>