<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
  <body>
    <div th:insert="common/sub-head"></div>
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Candidate Dashboard</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Candidate Dashboard</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
<!--            <div class="breadcrumb-form">-->
<!--              <form action="#">-->
<!--                <input type="text" placeholder="Enter Keywords">-->
<!--                <button><i data-feather="search"></i></button>-->
<!--              </form>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="dashboard-container">
              <div class="dashboard-content-wrapper">
                <div class="dashboard-applied">
                  <h4 class="apply-title" th:utext="${sizeUserAppliedJobList} + ' Job Applied'"></h4>
                  <div class="dashboard-apply-area">
                    <div class="job-list" th:each="eachUserAppliedJob : ${userAppliedJobList}">
                      <div class="thumb">
                        <a href="#">
                          <img th:src="@{/images/job/company-logo-1.png}" class="img-fluid" alt="">
                        </a>
                      </div>
                      <div class="body">
                        <div class="content">
                          <h4><a th:href="@{'/job/detail/' + ${eachUserAppliedJob?.getJob()?.getJobId()}}" th:utext="${eachUserAppliedJob?.getJob()?.getJobTitle()}"></a></h4>
                          <div class="info">
                            <span class="company"><a th:href="@{'/company/detail/' + ${eachUserAppliedJob?.getJob()?.getCompany()?.getCompanyId()}}" th:utext="${eachUserAppliedJob?.getJob()?.getCompany()?.getName()}"><i data-feather="briefcase"></i></a></span>
                            <span class="office-location"><a href="#" th:utext="${eachUserAppliedJob?.getJob()?.getCompany()?.getCity()}"><i data-feather="map-pin"></i></a></span>
                            <span class="job-type full-time"><a href="#" th:utext="${eachUserAppliedJob?.getJob()?.getJobType()?.getName()}"><i data-feather="clock"></i></a></span>
                          </div>
                        </div>
                        <div class="more">
                          <div class="buttons">
                            <a href="#" class="button">Apply Now</a>
                            <a href="#" class="favourite"><i data-feather="heart"></i></a>
                          </div>
                          <p class="deadline" th:utext="'Deadline: ' + ${eachUserAppliedJob?.getJob()?.getDeadline()}"></p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
              <div class="dashboard-sidebar" th:insert="common/menu-dashboard-candidate"></div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div th:insert="common/sub-footer"></div>
    <div th:replace="common/footer :: footer"></div>
  </body>
</html>