<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>

<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Candidates Dashboard</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Candidates Dashboard</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
<!--            <div class="breadcrumb-form">-->
<!--              <form action="#">-->
<!--                <input type="text" placeholder="Enter Keywords">-->
<!--                <button><i data-feather="search"></i></button>-->
<!--              </form>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="dashboard-container">
              <div class="dashboard-content-wrapper">
                <form th:action="@{'/candidate/dashboard/change/password'}" th:object="${candidateEdit}" method="post" class="dashboard-form">
                  <div th:if="${isPasswordChangedSuccess}" th:text="${changePasswordSuccess}" class="alert alert-secondary text-center" role="alert"></div>
                  <input  type="hidden" class="form-control" th:field="*{userId}" th:value="*{userId}">
                  <div class="dashboard-section basic-info-input">
                    <h4><i data-feather="lock"></i>Change Password</h4>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Current Password</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" placeholder="Current Password" th:field="*{oldPassword}" th:value="*{oldPassword}" required>
                        <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" style="color: red"></span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">New Password</label>
                      <div class="col-sm-9">
                        <input id="new-password" type="password" class="form-control" placeholder="New Password" th:field="*{newPassword}" th:value="*{newPassword}" required>
                        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color: red"></span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Retype Password</label>
                      <div class="col-sm-9">
                        <input id="new-password-retype" type="password" class="form-control" placeholder="Retype Password" th:field="*{confirmPassword}" th:value="*{confirmPassword}" required>
                        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red"></span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <button id="save-button" type="submit" class="button">Save Change</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="dashboard-sidebar" th:insert="common/menu-dashboard-candidate"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div th:insert="common/sub-footer"></div>
  <div th:replace="common/footer :: footer"></div>
</body>
</html>