<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
  <body>
    <div th:insert="common/sub-head"></div>
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Candidate Dashboard</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Candidate Dashboard</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
<!--            <div class="breadcrumb-form">-->
<!--              <form action="#">-->
<!--                <input type="text" placeholder="Enter Keywords">-->
<!--                <button><i data-feather="search"></i></button>-->
<!--              </form>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="dashboard-container">
              <div class="dashboard-content-wrapper">
                <div class="dashboard-bookmarked">
                  <h4 class="bookmark-title" th:utext="${sizeListJobBookmark} + ' Job Bookmarked'"></h4>
                  <div class="bookmark-area">

                    <div class="job-list" th:each="job : ${listJobBookmark}">
                      <div class="thumb">
                        <a href="#">
                          <img th:src="@{/images/job/company-logo-1.png}" class="img-fluid" alt="">
                        </a>
                      </div>
                      <div class="body">
                        <div class="content">
                          <h4><a th:href="@{/job/detail/{jobId}(jobId=${job?.jobId})}" th:utext="${job?.jobTitle}"></a></h4>
                          <div class="info">
                            <span class="company">
                              <i data-feather="briefcase"></i>
                              <a th:href="@{/company/detail/{companyId}(companyId=${job?.getCompany()?.companyId})}" th:utext="${job?.getCompany()?.name}"></a>
                            </span>
                            <span class="office-location">
                              <i data-feather="map-pin"></i>
                              <a href="#" th:utext="${job?.city}"></a>
                            </span>
                            <span class="job-type full-time">
                              <i data-feather="clock"></i>
                              <a href="#" th:utext="${job?.getJobType()?.name}"></a>
                            </span>
                          </div>
                        </div>
                        <div class="more">
                          <div class="buttons">
                            <a href="#" class="button">Apply Now</a>
                            <a href="#" class="favourite"><i data-feather="heart"></i></a>
                          </div>
                          <a  sec:authorize="hasAnyAuthority('CANDIDATE')"
                             th:href="@{'/job/discard-save/'+${job.getJobId()}}"
                             class="bookmark-remove"
                             th:data-confirm-delete="|Are you sure you want to remove this job: ${job.jobTitle}?|"
                             onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"><i class="fas fa-times"></i></a>
                          <p class="deadline" th:utext="'Deadline: ' + ${job?.deadline}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashboard-sidebar" th:insert="common/menu-dashboard-candidate"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="common/sub-footer"></div>
    <div th:replace="common/footer :: footer"></div>
  </body>
</html>