<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>

<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Candidates Dashboard</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Candidates Dashboard</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->
    <div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="dashboard-container">
              <div class="dashboard-content-wrapper">

                <form method="POST" th:action="@{'/candidate/dashboard/profile/edit'}" th:object="${candidateEdit}" class="dashboard-form">
                  <div class="dashboard-section upload-profile-photo">
                    <div class="update-photo">
                      <img class="image" th:src="@{/images/dashboard/user-1.jpg}" alt="">
                    </div>
                    <div class="file-upload">            
                      <input type="file" class="file-input">Change Avatar
                    </div>
                  </div>
                  <div class="dashboard-section basic-info-input">
                    <div th:if="${isUpdateSuccess}" th:text="${changeUpdateSuccess}" class="alert alert-success text-center" role="alert"></div>
                    <h4><i data-feather="user-check"></i>Basic Info</h4>
                    <input  type="hidden" class="form-control" th:field="*{userId}" th:value="*{userId}">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Full Name</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Full Name" th:field="*{fullName}"
                                 required>
                          <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Email Address</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Email Address" th:field="*{email}"
                                 required>
                          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Phone</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Phone" th:field="*{phone}">
                          <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Address</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Address" th:field="*{address}">
                          <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="buttons text-center">
                    <button class="btn-lg btn-primary">Save Update</button>
                    <button class="btn-lg btn-danger">Cancel</button>
                  </div>
                </form>
              </div>
              <div class="dashboard-sidebar" th:insert="common/menu-dashboard-candidate"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div th:insert="common/sub-footer"></div>
  <div th:replace="common/footer :: footer"></div>
</body>
</html>