<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
  <body>
    <div th:insert="common/sub-head"></div>

    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Edit Resume</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Edit Resume</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
<!--            <div class="breadcrumb-form">-->
<!--              <form action="#">-->
<!--                <input type="text" placeholder="Enter Keywords">-->
<!--                <button><i data-feather="search"></i></button>-->
<!--              </form>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="post-container">
              <div class="post-content-wrapper">

                <form method="POST" th:action="@{'/candidate/resume/add'}" th:object="${updateResumeDTO}" enctype="multipart/form-data" class="job-post-form">
                  <div class="basic-info-input">
                    <h4><i data-feather="plus-circle"></i>Edit Resume</h4>
                    <input  type="hidden" class="form-control" th:field="*{userId}" th:value="*{userId}">
                    <div id="expertise" class="form-group row">
                      <label class="col-sm-3 col-form-label">Expertise</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Expertise" th:field="*{expertise}">
                          <span th:if="${#fields.hasErrors('expertise')}" th:errors="*{expertise}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div id="experience" class="form-group row">
                      <label class="col-sm-3 col-form-label">Experience</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Experience" th:field="*{experience}">
                          <span th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div id="jobType" class="form-group row">
                      <label class="col-sm-3 col-form-label">Job Type</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <select class="form-control" th:field="*{jobType}">
                            <option th:value="'Any'">Job Type</option>
                            <option th:each="jobType : ${listJobType}" th:value="${jobType.getName()}"
                                    th:utext="${jobType?.getName()}">
                            </option>
                          </select>
                          <i class="fa fa-caret-down"></i>
                        </div>
                      </div>
                    </div>
                    <div id="qualification" class="form-group row">
                      <label class="col-sm-3 col-form-label">Qualification</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Qualification" th:field="*{qualification}">
                          <span th:if="${#fields.hasErrors('qualification')}" th:errors="*{qualification}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div id="workExperience" class="form-group row">
                      <label class="col-sm-3 col-form-label">Work Experience</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Work Experience" th:field="*{workExperience}">
                          <span th:if="${#fields.hasErrors('workExperience')}" th:errors="*{workExperience}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div id="aboutMe" class="form-group row">
                      <label class="col-sm-3 col-form-label">About Me</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <textarea type="text" class="form-control" placeholder="About Me" th:field="*{aboutMe}"></textarea>
                          <span th:if="${#fields.hasErrors('aboutMe')}" th:errors="*{aboutMe}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div id="educationBackground" class="form-group row">
                      <label class="col-sm-3 col-form-label">Education Background</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <textarea type="text" class="form-control" placeholder="Education Background" th:field="*{educationBackground}"></textarea>
                          <span th:if="${#fields.hasErrors('educationBackground')}" th:errors="*{educationBackground}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div id="specialQualification" class="form-group row">
                      <label class="col-sm-3 col-form-label">Special Qualification</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <textarea type="text" class="form-control" placeholder="Special Qualification" th:field="*{specialQualification}"></textarea>
                          <span th:if="${#fields.hasErrors('specialQualification')}" th:errors="*{specialQualification}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div id="professionalSkill" class="form-group row">
                      <label class="col-sm-3 col-form-label">Professional Skill</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <textarea type="text" class="form-control" placeholder="Professional Skill" th:field="*{professionalSkill}"></textarea>
                          <span th:if="${#fields.hasErrors('professionalSkill')}" th:errors="*{professionalSkill}" style="color: red"></span>
                        </div>
                      </div>
                    </div>
                    <div id="cv" class="row form-group">
                      <label class="col-md-3 col-form-label">Upload CV</label>
                      <div class="col-md-9">
                        <div class="add-cv">
                          <input type="file" id="cv-file" th:field="*{multipartFile}" onchange="showCVInfo()"/>CV File
                          <i data-feather="upload-cloud"></i>
                          <div id="cv-file-info"></div>
                          <span id="file-cv-exist" th:if="${fileCVName}" th:utext="${fileCVName}"></span>
                        </div>
                        <span th:if="${message}" th:utext="${message}" style="color: red"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-9 offset-md-3">
                        <div class="form-group mt-0 terms">
                          <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                          <label for="radio-4">
                            <span class="dot"></span> You accepts our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label"></label>
                      <div class="col-md-9">
                        <button class="button">Publish Resume</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
                <div class="dashboard-sidebar" th:insert="common/menu-dashboard-candidate"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="common/sub-footer"></div>
    <div th:replace="common/footer :: footer"></div>
    <script>
      function showCVInfo(){
        var name = document.getElementById('cv-file');
        document.getElementById('cv-file-info').innerHTML='Selected file: ' + name.files.item(0).name;
        document.getElementById('file-cv-exist').innerHTML="";
        document.getElementById('warning-message').style.color="#50ba90";
        document.getElementById('warning-message').innerHTML="File CV is selected !";
      }
    </script>
  </body>
</html>