<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:include="common/header :: header">
  <body>
    <div th:insert="common/sub-head"></div>
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Resume</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Resume</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="breadcrumb-form">
              <form action="#">
                <input type="text" placeholder="Enter Keywords">
                <button><i data-feather="search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="dashboard-container">
              <div class="dashboard-content-wrapper">
                <div class="download-resume dashboard-section">
                  <a th:href="@{/candidate/downloadCV}">Download CV<i data-feather="download"></i></a>
                </div>
                <div class="skill-and-profile dashboard-section">
                  <div class="skill">
                    <label>Skills: </label>
                    <span th:utext="${resumeDTO?.getProfessionalSkill()}"></span>
                  </div>
                </div>
                <div class="about-details details-section dashboard-section">
                  <h4><i data-feather="align-left"></i>About Me</h4>
                  <p th:utext="${resumeDTO?.getAboutMe()}"></p>
                  <div class="information-and-contact">
                    <div class="information">
                      <h4>Information</h4>
                      <ul>
                        <li th:utext="'Category: ' + ${resumeDTO?.getExpertise()}"></li>
                        <li th:utext="'Location: ' + ${resumeDTO?.getLocation()}"></li>
                        <li th:utext="'Status: ' + ${resumeDTO?.getJobType()?.name}"></li>
                        <li th:utext="'Experience: ' + ${resumeDTO?.getExperience()}"></li>
                        <li th:utext="'Gender: ' + ${resumeDTO?.getGender()?.name}"></li>
                        <li th:utext="'Qualification: ' + ${resumeDTO?.getQualification()}"></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="edication-background details-section dashboard-section">
                  <h4><i data-feather="book"></i>Education Background</h4>
                  <div class="education-label">
                    <p th:utext="${resumeDTO?.getEducationBackground()}"></p>
                  </div>
                </div>

                <div class="professonal-skill dashboard-section details-section">
                  <h4><i data-feather="feather"></i>Professional Skill</h4>
                  <p th:utext="${resumeDTO?.getProfessionalSkill()}"></p>
                </div>

                <div class="special-qualification dashboard-section details-section">
                  <h4><i data-feather="gift"></i>Special Qualification</h4>
                  <p th:utext="${resumeDTO?.getSpecialQualification()}"></p>
                </div>

                <div class="personal-information dashboard-section last-child details-section">
                  <h4><i data-feather="user-plus"></i>Personal Deatils</h4>
                  <ul>
                    <li th:utext="'Full Name:' + ${resumeDTO?.getFullName()}"></li>
                    <li th:utext="'Address:' + ${resumeDTO?.getAddress()}"></li>
                    <li th:utext="'Gender:' + ${resumeDTO?.getGender()?.getName()}"></li>
                  </ul>
                </div>
              </div>
              <div class="dashboard-sidebar" th:insert="common/menu-dashboard-candidate"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div th:insert="common/sub-footer"></div>
  <div th:replace="common/footer :: footer"></div>
  </body>
</html>