<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>

<!-- Company Details -->
<div class="alice-bg padding-top-60 section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="company-details">
                    <div class="title-and-info">
                        <div class="title">
                            <h4 th:text="'Phiếu Đánh giá '+${company.getName()}"></h4>
                        </div>
                    </div>
                    <div class="details-information padding-top-60">
                        <div class="row">
                            <div class="col-xl-7 col-lg-8">
                                <form th:action="@{'/candidate/company/review/'+${companyId}}" th:object="${companyReview}" class="job-post-form" method="POST">
                                    <div class="basic-info-input">
                                        <div th:if="${isReviewSaved}" class="row alert alert-success" role="alert" th:text="${message}"></div>
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Common Rating</label>
                                            <div class="col-md-9">
                                                <div class="form-group star-widget" >
                                                    <span id="rate-1" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span>
                                                    <span id="rate-2" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span>
                                                    <span id="rate-3" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span>
                                                    <span id="rate-4" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span>
                                                    <span id="rate-5" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span>
                                                </div>
                                                <input th:field="*{rating}" th:value="${companyReview.rating}" id="rating" type="number" hidden>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Title</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <input th:field="*{title}" th:value="${companyReview.title}" type="text" class="form-control" placeholder="Tóm tắt đánh giá của bạn" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Điều bạn thích</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <textarea th:field="*{satisfaction}" th:value="${companyReview.satisfaction}" class="form-control" placeholder="Điều làm công ty nổi bật, điều bạn thích,..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Điều Công ty cần cải thiện</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <textarea th:field="*{improvement}" th:value="${companyReview.improvement}" class="form-control" placeholder="Bạn nghĩ công ty cần cải thiện điều gì?"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"></label>
                                            <div class="col-md-9">
                                                <button type="submit" class="button">Review</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-4 offset-xl-1 col-lg-4">
                                <div class="information-and-contact">
                                    <div class="information">
                                        <h4>Hướng dẫn và điều kiện đánh giá</h4>
                                        <div>
                                            <p>
                                                Mọi đánh giá phải tuân thủ Hướng Dẫn & Điều Kiện về đánh giá để được hiển thị trên website.
                                            </p>
                                            <ul style="list-style-type: circle; color: black;font-weight: bold">   Xin vui lòng:
                                                <li>Không sử dụng từ ngữ mang ý xúc phạm, miệt thị</li>
                                                <li>Không cung cấp thông tin cá nhân</li>
                                                <li>Không cung cấp thông tin bảo mật, bí mật kinh doanh của công ty</li>
                                            </ul>
                                            <p> Cảm ơn bạn đã đưa ra những đánh giá chân thực nhất. Xem thêm thông tin chi tiết về Hướng Dẫn & Điều Kiện về đánh giá</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Company Details End -->

<div th:insert="common/sub-footer"></div>
</body>
<div th:replace="common/footer :: footer"></div>
<script>
    //click
    $( "#rate-1" ).click(
        function() {
            $( this ).css("color", "yellow");
            $( "#rate-2" ).css("color", "gainsboro");
            $( "#rate-3" ).css("color", "gainsboro");
            $( "#rate-4" ).css("color", "gainsboro");
            $( "#rate-5" ).css("color", "gainsboro");
            $("#rating").val(1);
            console.log("1 sao");
            $(this).unbind("mouseenter mouseleave");
        }
    );
    $( "#rate-2" ).click(
        function() {
            $( "#rate-1" ).css("color", "yellow");
            $( this ).css("color", "yellow");
            $( "#rate-3" ).css("color", "gainsboro");
            $( "#rate-4" ).css("color", "gainsboro");
            $( "#rate-5" ).css("color", "gainsboro");
            $("#rating").val(2);
            console.log("2 sao");
            $(this).unbind("mouseenter mouseleave");
        }
    );
    $( "#rate-3" ).click(
        function() {
            $( "#rate-1" ).css("color", "yellow");
            $( "#rate-2" ).css("color", "yellow");
            $( this ).css("color", "yellow");
            $( "#rate-4" ).css("color", "gainsboro");
            $( "#rate-5" ).css("color", "gainsboro");
            $("#rating").val(3);
            console.log("3 sao");
            $(this).unbind("mouseenter mouseleave");
        }
    );
    $( "#rate-4" ).click(
        function() {
            $( "#rate-1" ).css("color", "yellow");
            $( "#rate-2" ).css("color", "yellow");
            $( "#rate-3" ).css("color", "yellow");
            $( this ).css("color", "yellow");
            $( "#rate-5" ).css("color", "gainsboro");
            $("#rating").val(4);
            console.log("4 sao");
            $(this).unbind("mouseenter mouseleave");
        }
    );
    $( "#rate-5" ).click(
        function() {
            $( "#rate-1" ).css("color", "yellow");
            $( "#rate-2" ).css("color", "yellow");
            $( "#rate-3" ).css("color", "yellow");
            $( "#rate-4" ).css("color", "yellow");
            $( this ).css("color", "yellow");
            $("#rating").val(5);
            console.log("5 sao");
            $(this).unbind("mouseenter mouseleave");
        }
    );

</script>
</html>
