<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>

<!-- Company Details -->
<div class="alice-bg padding-top-60 section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="company-details">
          <div class="title-and-info">
            <div class="title">
              <div class="thumb">
                <img th:src="@{/images/company/company-logo-1.png}" class="img-fluid" alt="">
              </div>
              <div class="title-body">
                <h4 th:text="${companyDetail.name}"></h4>
                <div class="info">
                  <span th:text="${companyDetail.type}" class="company-type"><i data-feather="briefcase"></i></span>
                  <span th:text="${companyDetail.city}" class="office-location"><i data-feather="map-pin"></i>Los Angeles</span>
                </div>
              </div>
            </div>
<!--            <div class="download-resume">-->
<!--              <a><span th:utext="${companyDetail.openJobNumber}+' Open Position'"></span></a>-->
<!--            </div>-->
            <div class="download-resume"><a th:href="@{'/candidate/company/review/'+${companyDetail.getCompanyId()}}"><span>Write Review</span></a>
            </div>
          </div>
          <div class="details-information padding-top-60">
            <div class="row">
              <div class="col-xl-7 col-lg-8">
                <div class="about-details details-section">
                  <h4><i data-feather="align-left"></i>About Us</h4>
                  <p th:utext="${companyDetail.aboutUs}"></p>
                </div>
                <div class="intor-video details-section">
                  <h4><i data-feather="video"></i>Intro Video</h4>
                  <div class="video-area">
                    <!-- <div data-type="vimeo" data-video-id="126777001"></div> -->
                    <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="126777001"></div>
                  </div>
                </div>
<!--                <div class="portfolio details-section">-->
<!--                  <h4><i data-feather="grid"></i>Image Gallery</h4>-->
<!--                  <div class="portfolio-slider owl-carousel">-->
<!--                    <div class="portfolio-item">-->
<!--                      <img th:src="@{/images/portfolio/thumb-3.jpg}" class="img-fluid" alt="">-->
<!--                      <div class="overlay">-->
<!--                        <a href="#"><i data-feather="eye"></i></a>-->
<!--                        <a href="#"><i data-feather="link"></i></a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="portfolio-item">-->
<!--                      <img th:src="@{/images/portfolio/thumb-1.jpg}" class="img-fluid" alt="">-->
<!--                      <div class="overlay">-->
<!--                        <a href="#"><i data-feather="eye"></i></a>-->
<!--                        <a href="#"><i data-feather="link"></i></a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="portfolio-item">-->
<!--                      <img th:src="@{/images/portfolio/thumb-2.jpg}" class="img-fluid" alt="">-->
<!--                      <div class="overlay">-->
<!--                        <a href="#"><i data-feather="eye"></i></a>-->
<!--                        <a href="#"><i data-feather="link"></i></a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="portfolio-item">-->
<!--                      <img th:src="@{/images/portfolio/thumb-3.jpg}" class="img-fluid" alt="">-->
<!--                      <div class="overlay">-->
<!--                        <a href="#"><i data-feather="eye"></i></a>-->
<!--                        <a href="#"><i data-feather="link"></i></a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="portfolio-item">-->
<!--                      <img th:src="@{/images/portfolio/thumb-2.jpg}" class="img-fluid" alt="">-->
<!--                      <div class="overlay">-->
<!--                        <a href="#"><i data-feather="eye"></i></a>-->
<!--                        <a href="#"><i data-feather="link"></i></a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="open-job details-section">
                  <h4><i data-feather="check-circle"></i>Open Job</h4>
                  <div class="job-list" th:each="job:${companyDetail.listJob}">
                    <div class="body">
                      <div class="content">
                        <h4 th:text="${job.jobTitle}"><a th:href="@{'/job/detail/'+${job.jobId}}"></a></h4>
                        <div class="info">
                          <span th:text="${job.city}" class="office-location"><a href="#"><i data-feather="map-pin"></i></a></span>
                          <span th:text="${job.jobType}" class="job-type temporary"><a href="#"><i data-feather="clock"></i></a></span>
                        </div>
                      </div>
                      <div class="more">
                        <div class="buttons pr-0">
                          <a sec:authorize="hasAnyAuthority('CANDIDATE')"  class="button" href="#" data-toggle="modal" data-target="#apply-popup-id">Apply Online</a>
                          <a  sec:authorize="hasAnyAuthority('ADMIN_SYSTEM','CANDIDATE')"
                             th:href="@{'/job/save/' + ${job.getJobId()}}"
                             th:data-confirm-delete="|Save job : ${job.getJobTitle()}?|"
                             onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                             class="favourite"><i data-feather="heart"></i></a>
                        </div>
                        <div class="pr-0"> <p th:utext="'Deadline: '+${job.deadline}" class="deadline" ></p></div>
                      </div>

                      <div class="apply-popup">
                        <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form th:action="@{'/apply?jobId='+${job.getJobId()}}" th:object="${applyJobDTO}" method="POST" enctype="multipart/form-data">
                                  <div class="form-group">
                                    <input type="hidden" th:name="jobId" th:value="${job.getJobId()}">
                                  </div>
                                  <div class="form-group">
                                    <input type="email" placeholder="Email Address" class="form-control" th:field="*{email}" required>
                                  </div>
                                  <div class="form-group">
                                    <textarea class="form-control" placeholder="Message" th:field="*{message}" required></textarea>
                                  </div>
                                  <div class="form-group file-input-wrap">
                                    <label for="up-cv">
                                      <input id="up-cv" type="file" th:field="*{multipartFile}"  required  style="display: block;">
                                      <i data-feather="upload-cloud"></i>
                                      <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                                    </label>
                                    <div id="cv-file-info"></div>
                                    <span style="color: red" id="warning-message"></span>
                                    <span th:if="${fileCVName}" th:utext="${fileCVName}"></span>
                                    <span th:if="${message}" th:utext="${message}" style="color: red"></span>
                                  </div>
                                  <div class="more-option">
                                    <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                                    <label for="radio-4">
                                      <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                                    </label>
                                  </div>
                                  <button type="submit" class="button primary-bg btn-block">Apply Now</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 offset-xl-1 col-lg-4">
                <div id="rating-div" class="mb-1">
                  <div class="d-inline-block pl-2" style="font-size: 20px;font-weight: bold"><p id="rate-text" th:text="${companyDetail?.totalRating}"></p></div>
                  <div style="background-color: grey" class="d-inline-block ml-1"><span id="rate-1" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span></div>
                  <div style="background-color: grey" class="d-inline-block"><span id="rate-2" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span></div>
                  <div style="background-color: grey" class="d-inline-block"><span id="rate-3" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span></div>
                  <div style="background-color: grey" class="d-inline-block"><span id="rate-4" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span></div>
                  <div style="background-color: grey" class="d-inline-block"><span id="rate-5" style="color: gainsboro;font-size: 25px" class="fas fa-star"></span></div>
                  <div class="pl-3 d-inline-block">
                    <button class="btn btn-info" th:href="@{'/company/review-list?companyId='+${companyDetail.getCompanyId()} +'&pageNumber=1'}">Review Detail</button>
                  </div>
                </div>
                <input id="total-rating-input" th:value="${companyDetail?.totalRating}" hidden>
                <div class="information-and-contact">
                  <div class="information">
                    <h4>Information</h4>
                    <ul>
                      <li><span>Company Type:</span><span th:text="' '+${companyDetail?.type}"></span></li>
                      <li><span>Location:</span><span th:text="' '+${companyDetail?.city}"></span></li>
                      <li><span>Hotline:</span><span  th:text="' '+${companyDetail?.hotline}"></span></li>
                      <li><span>Email:</span><span th:text="' '+${companyDetail?.email}"></span></li>
                      <li><span>Company Size:</span><span th:text="' '+${companyDetail?.size}"></span></li>
                      <li><span>Website:</span> <a href="#" th:utext="${companyDetail?.website}"></a></li>
                    </ul>
                  </div>
                  <div class="buttons">
                    <a href="#" class="button contact-button" data-toggle="modal" data-target="#exampleModal">Contact Us</a>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade contact-form-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4><i data-feather="edit"></i>Contact Us</h4>
                           <form th:action="@{/candidate/contact/{companyId}(companyId=${companyDetail?.companyId})}" method="POST">
                            <div class="form-group">
                              <input type="text" class="form-control" name="name" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                              <textarea class="form-control" name="message" placeholder="Your Message"></textarea>
                            </div>
                            <button type="submit" class="button">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Company Details End -->

<div th:insert="common/sub-footer"></div>
</body>
<div th:replace="common/footer :: footer"></div>
<script>
 const totalRating= $("#total-rating-input").val();
 if(totalRating==1){
   $("#rate-1").css("color","yellow");
 }else if(totalRating==0){
   $("#rate-text:text").val("Not rated");
 }else if(1<totalRating && totalRating<2){
   $("#rate-1").css("color","yellow");
   $("#rate-2").removeClass("fas fa-star");
   $("#rate-2").addClass("fas fa-star-half");
   $("#rate-2").css("color","yellow");
 }else if(totalRating==2){
   $("#rate-1").css("color","yellow");
   $("#rate-2").css("color","yellow");
 }else if(2<totalRating && totalRating<3){
   $("#rate-1").css("color","yellow");
   $("#rate-2").css("color","yellow");
   $("#rate-3").removeClass("fas fa-star");
   $("#rate-3").addClass("fas fa-star-half");
   $("#rate-3").css("color","yellow");
 }else if(totalRating==3){
   $("#rate-1").css("color","yellow");
   $("#rate-2").css("color","yellow");
   $("#rate-3").css("color","yellow");
 }else if(3<totalRating && totalRating<4){
   $("#rate-1").css("color","yellow");
   $("#rate-2").css("color","yellow");
   $("#rate-3").css("color","yellow");
   $("#rate-4").removeClass("fas fa-star");
   $("#rate-4").addClass("fas fa-star-half");
   $("#rate-4").css("color","yellow");
 }else if(totalRating==4){
   $("#rate-1").css("color","yellow");
   $("#rate-2").css("color","yellow");
   $("#rate-3").css("color","yellow");
   $("#rate-4").css("color","yellow");
 }else if(4<totalRating && totalRating<5){
   $("#rate-1").css("color","yellow");
   $("#rate-2").css("color","yellow");
   $("#rate-3").css("color","yellow");
   $("#rate-4").css("color","yellow");
   $("#rate-5").removeClass("fas fa-star");
   $("#rate-5").addClass("fas fa-star-half");
   $("#rate-5").css("color","yellow");
 }else {
   $("#rate-1").css("color", "yellow");
   $("#rate-2").css("color", "yellow");
   $("#rate-3").css("color", "yellow");
   $("#rate-4").css("color", "yellow");
   $("#rate-5").css("color", "yellow");
 }
</script>
</html>
