<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>
<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Company Listing</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Company Listing</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-6">
        <div class="breadcrumb-form">
          <form th:action="@{/company/list}">
            <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Enter company name" />
            <button type="submit">
              <i data-feather="search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Job Listing -->
<div class="alice-bg section-padding-bottom">
  <div class="container">
    <div class="row no-gutters">
      <div class="col">
        <div class="employer-container">
          <div class="filtered-employer-wrapper">
            <div class="employer-view-controller-wrapper">
              <div class="employer-view-controller">
                <div class="controller list active">
                  <i data-feather="menu"></i>
                </div>
                <div class="controller grid">
                  <i data-feather="grid"></i>
                </div>
              </div>
              <div class="showing-number"  th:if="${!isEmptyListCompany}">
                <span th:if="${page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.number*pageSize+pageSize} +' of ' + ${page.totalElements}+ ' Companies'"></span>
                <span th:if="${!page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.totalElements} +' of ' + ${page.totalElements}+ ' Companies'"></span>
              </div>
            </div>
            <div class="employer-filter-result">
              <div class="employer" th:each="company:${page}">
                <div class="thumb">
                  <a href="#">
                    <img th:src="@{/images/employer/thumb-1.png}" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <a th:href="@{'/company/detail/'+${company.companyId}}">
                      <h4 th:utext="${company.name}"></h4>
                    </a>
                    <div class="info">
                      <span class="company">
                        <i data-feather="briefcase"></i>
                        <a href="#" th:utext="${company.type}"></a>
                      </span>
                      <span class="office-location">
                        <i data-feather="map-pin"></i>
                        <a href="#" th:utext="${company.city}"></a>
                      </span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons btn-group" role="group">
                      <a sec:authorize="hasAnyAuthority('ADMIN_SYSTEM')"
                         th:href="@{'/company/delete/' + ${company.companyId}}"
                         style="font-size: 15px; padding: 7px 10px; margin: 0px 0px 0px 10px;"
                         class="btn btn-danger"
                         th:data-confirm-delete="|Are you sure you want to delete this company: ${company.name}?|"
                         onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete
                      </a>
                      <a sec:authorize="hasAnyAuthority('ADMIN_SYSTEM')"
                         th:href="@{'/company/edit/' + ${company.companyId}}"
                         style="font-size: 15px; padding: 7px 20px; margin: 0px 0px 0px 10px;"
                         class="btn btn-warning">Edit
                      </a>
                      <a th:href="@{'/company/detail/' + ${company.companyId}}" class="btn btn-primary" style="font-size: 15px; padding: 7px 20px; margin: 0px 0px 0px 10px;">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination-list text-center" th:if="${!isFilter}">
              <nav class="navigation pagination" th:if="${!isEmptyListCompany}">
                <div class="nav-links">
                      <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                        <a th:href="@{'/company/list?pageNumber=' + ${page.number} + '&keyword=' + ${keyword}}">Pre</a>
                      </span>
                  <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
                          <a th:href="@{'/company/list?pageNumber='+${i+1}+ '&keyword=' + ${keyword}}">[[${i}+1]]</a>
                        </span>
                      </span>
                  <span class="next page-numbers" th:if="${page.hasNext()}">
                        <a th:href="@{'/company/list?pageNumber='+${page.number+2}+ '&keyword=' + ${keyword}}">Next</a>
                      </span>
                </div>
              </nav>
            </div>
            <div class="pagination-list text-center" th:if="${isFilter}">
              <nav class="navigation pagination" th:if="${!isEmptyListCompany}">
                <div class="nav-links">
                      <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                        <a th:href="@{'/company/filter?pageNumber=' + ${page.number} + '&city=' + ${city}+'&type='+${type}}">Pre</a>
                      </span>
                  <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
                          <a th:href="@{'/company/filter?pageNumber='+${i+1}+ '&city=' + ${city}+'&type='+${type}}">[[${i}+1]]</a>
                        </span>
                      </span>
                  <span class="next page-numbers" th:if="${page.hasNext()}">
                        <a th:href="@{'/company/filter?pageNumber='+${page.number+2}+ '&city=' + ${city}+'&type='+${type}}">Next</a>
                      </span>
                </div>
              </nav>
            </div>
          </div>
          <div class="employer-filter-wrapper">
            <div style="padding-left: 25px">
              <p style="color: #706f6f">You've selected: </p>
              <div style="color: #ba3030" th:if="${(param.city != null)}">
                <span><i class="fas fa-check"></i></span><span th:text="${param.city[0]}"></span>
              </div>
              <div style="color: #ba3030" th:if="${(param.type != null)}" >
                <span><i class="fas fa-check"></i></span><span th:text="${param.type[0]}"></span>
              </div>
            </div>
            <form th:action="@{/company/filter}">
              <div class="employer-filter-dropdown same-pad category">
                <select class="selectpicker" th:name="type">
                  <option value="">Type</option>
                  <option th:each="companyType : ${listCompanyType}" th:text="${companyType.name}" th:value="${companyType.name}"></option>
                </select>
              </div>
              <div class="employer-filter-dropdown same-pad category">
                <select class="selectpicker" th:name="city">
                  <option value="">Location</option>
                  <option  th:each="city : ${listCity}" th:text="${city}" th:value="${city}"></option>
                </select>
              </div>
              <div style="margin-left: 25px; margin-top: 20px">
                <button type="submit" >
                  <span style="color: #9eacfd"><i class="fas fa-filter"></i></span>Filter
                </button>
                <button>
                  <span style="color: red"><i class="far fa-times-circle"></i></span><a th:href="@{/company/list(pageNumber=1, keyword='')}">Clear All</a>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Job Listing End -->
<div th:insert="common/sub-footer"></div>
</body>
<div th:replace="common/footer :: footer"></div>
</html>
