<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>

<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Employer Dashboard</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Employer Dashboard</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-6">
        <div class="breadcrumb-form">
          <form th:action="@{/employer/dashboard/job/manage}">
            <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Enter job name" />
            <button type="submit">
              <i data-feather="search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<div class="alice-bg section-padding-bottom">
  <div class="container no-gliters">
    <div class="row no-gliters">
      <div class="col">
        <div class="dashboard-container">
          <div class="dashboard-content-wrapper">
            <div class="manage-job-container">
              <div style="padding-left: 70%; padding-bottom: 25px; color:green;" class="showing-number" th:if="${!isEmptyListJob}">
                <span th:if="${page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.number*pageSize+pageSize} +' of ' + ${page.totalElements}+ ' Jobs'"></span>
                <span th:if="${!page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.totalElements} +' of ' + ${page.totalElements}+ ' Jobs'"></span>
              </div>
              <table class="table">
                <thead>
                <tr>
                  <th>Job Title</th>
                  <th>Applications</th>
                  <th>Deadline</th>
                  <th>Status</th>
                  <th class="action">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="job-items" th:each="job : ${page}">
                  <td class="title">
                    <h5><a th:href="@{'/job/detail/' + ${job.jobId}}" th:utext="${job.getJobTitle()}"></a></h5>
                    <div class="info">
                      <span class="office-location">
                        <i data-feather="map-pin"></i>
                        <a href="#" th:utext="${job.getCity()}"></a>
                      </span>
                      <span class="job-type full-time">
                        <i data-feather="clock"></i>
                        <a href="#" th:utext="${job.getJobType()}"></a>
                      </span>
                    </div>
                  </td>
                  <td class="application"><a href="#" th:utext="${job.getUserApplyNumber()}"></a></td>
                  <td class="deadline" th:utext="${job.getDeadline()}" >Oct 31,  2020</td>
                  <td class="status" th:utext="${job.getStatus()}"></td>
                  <td class="action">
                    <a th:href="@{'/job/detail/'+${job.getJobId()}}" class="preview" title="Preview"><i data-feather="eye"></i></a>
                    <a th:href="@{'/job/edit/'+${job.getJobId()}}" class="edit" title="Edit"><i data-feather="edit"></i></a>
                    <a sec:authorize="hasAnyAuthority('ADMIN_SYSTEM', 'ADMIN_COMPANY')"
                       th:href="@{'/employer/dashboard/delete/'+${job.getJobId()}}" class="remove" title="Delete"
                       th:data-confirm-delete="|Are you sure you want to delete this job: ${job.jobTitle}?|"
                       onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                      <i data-feather="trash-2"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="pagination-list text-center" th:if="${!isEmptyListJob}">
                <nav class="navigation pagination">
                  <div class="nav-links">
                      <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                        <a th:href="@{'/employer/dashboard/job/manage?pageNumber=' + ${page.number} + '&keyword=' + ${keyword}}">Pre</a>
                      </span>
                    <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
                          <a th:href="@{'/employer/dashboard/job/manage?pageNumber='+${i+1}+ '&keyword=' + ${keyword}}">[[${i}+1]]</a>
                        </span>
                      </span>
                    <span class="next page-numbers" th:if="${page.hasNext()}">
                        <a th:href="@{'/employer/dashboard/job/manage?pageNumber='+${page.number+2}+ '&keyword=' + ${keyword}}">Next</a>
                      </span>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="dashboard-sidebar" th:insert="common/menu-dashboard-employer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="common/sub-footer"></div>
</body>
<div th:replace="common/footer :: footer"></div>
</html>
