<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head th:include="common/header :: header">
  <body>
    <div th:insert="common/sub-head"></div>
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Employer Dashboard</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Employer Dashboard</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="breadcrumb-form">
              <form action="#">
                <input type="text" placeholder="Enter Keywords">
                <button><i data-feather="search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="dashboard-container">
              <div class="dashboard-content-wrapper">
                <div class="dashboard-section user-statistic-block">
                  <div class="user-statistic">
                    <i data-feather="command"></i>
                    <h3 th:text="${totalJobPosted}"></h3>
                    <span>Total Job Posted</span>
                  </div>
                  <div class="user-statistic">
                    <i data-feather="file-text"></i>
                    <h3>123</h3>
                    <span>Application Submit</span>
                  </div>
                </div>
                <div class="dashboard-section dashboard-view-chart">
                  <canvas id="job-posted-view-chart" width="400" height="500"></canvas>
                </div>
                <div class="dashboard-section dashboard-view-chart">
                  <canvas id="application-view-chart" width="400" height="500"></canvas>
                </div>
              </div>
              <div class="dashboard-sidebar" th:insert="common/menu-dashboard-employer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="common/sub-footer"></div>
    <div th:replace="common/footer :: footer"></div>
  </body>
</html>