<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>
<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Employer Dashboard</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Employer Dashboard</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<div class="alice-bg section-padding-bottom">
  <div class="container no-gliters">
    <div class="row no-gliters">
      <div class="col">
        <div class="dashboard-container">
          <div class="dashboard-content-wrapper">
            <form th:action="@{'/employer/dashboard/profile/edit/'+${employer.userId}}" th:object="${employer}" method="post" class="dashboard-form">
              <input  type="hidden" class="form-control" th:field="*{userId}" th:value="*{userId}">
              <div class="dashboard-section upload-profile-photo">
                <div class="update-photo">
                  <img class="image" th:src="@{/images/dashboard/company-logo.png}" alt="">
                </div>
                <div class="file-upload">
                  <input type="file" class="file-input">Change Avatar
                </div>
              </div>
              <div class="dashboard-section basic-info-input">
                <h4><i data-feather="user-check"></i>Basic Info</h4>
                <div class="form-group row">
                  <div th:if="${isSuccess}" th:text="${updateSuccess}" class="alert alert-secondary text-center" role="alert"></div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Username</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="@username" th:field="*{username}" th:value="*{username}" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Full Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" th:field="*{fullName}" th:value="*{fullName}">
                    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color: red"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Email Address</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="email@example.com" th:field="*{email}" th:value="*{email}">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Phone</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="+55 123 4563 4643" th:field="*{phone}" th:value="*{phone}">
                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" th:field="*{address}" th:value="*{address}">
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">About Me</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" placeholder="" th:field="*{aboutMe}" th:value="*{aboutMe}"></textarea>
                    <span th:if="${#fields.hasErrors('aboutMe')}" th:errors="*{aboutMe}" style="color: red"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button id="save-profile-button" type="submit" class="button" >Save Change</button>
                  </div>
                </div>
              </div>
            </form>
            <form th:action="@{'/employer/dashboard/password/change'}" th:object="${employer}" method="post" class="dashboard-form">
              <input  type="hidden" class="form-control" th:field="*{userId}" th:value="*{userId}">
              <div th:if="${isPasswordChangedSuccess}" th:text="${changePasswordSuccess}" class="alert alert-success text-center" role="alert"></div>
              <div class="dashboard-section basic-info-input">
                <h4><i data-feather="lock"></i>Change Password</h4>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Current Password</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Current Password" th:field="*{oldPassword}" th:value="*{oldPassword}" required>
                    <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" style="color: red"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">New Password</label>
                  <div class="col-sm-9">
                    <input id="new-password" type="password" class="form-control" placeholder="New Password" th:field="*{newPassword}" th:value="*{newPassword}" required>
                    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color: red"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Retype Password</label>
                  <div class="col-sm-9">
                    <input id="new-password-retype" type="password" class="form-control" placeholder="Retype Password" th:field="*{confirmPassword}" th:value="*{confirmPassword}" required>
                    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button id="save-button" type="submit" class="button">Save Change</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="dashboard-sidebar" th:insert="common/menu-dashboard-employer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="common/sub-footer"></div>
</body>
<div th:replace="common/footer :: footer"></div>

<script>
  var newPassword= $("#new-password");
  var confirm_password= $("#new-password-retype");
  function checkNewPassword() {
    if( newPassword.val()!=confirm_password.val()){
      $('#new-password-retype').setCustomValidity("Passwords Don't Match");
    }else {
      confirm_password.setCustomValidity('');
    }
  }
  newPassword.onchange=checkNewPassword;
  confirm_password.onkeyup=checkNewPassword;
</script>
</html>
