<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>
<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-area">
                    <h1>Create A Company</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Create A Company</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="alice-bg section-padding-bottom">
    <div class="container no-gliters">
        <div class="row no-gliters">
            <div class="col">
                <div class="post-container">
                    <div class="post-content-wrapper">
                        <form class="job-post-form" method="POST" th:action="@{/company/create}" th:object="${newCompany}">
                            <div class="basic-info-input">
                                <h4><i data-feather="plus-circle"></i>Create A Company</h4>
                                <div class="row" id="company-name">
                                    <label class="col-md-3 col-form-label">Company Name</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input  class="form-control" th:field="*{name}" required>
                                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="company-location">
                                    <label class="col-md-3 col-form-label">Company Location</label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Street" th:field="*{street}"
                                                         title="Street"  required>
                                                    <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" style="color: red"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="District" th:field="*{district}"
                                                           title="District"   required>
                                                    <span th:if="${#fields.hasErrors('district')}" th:errors="*{district}" style="color: red"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="City" th:field="*{city}"
                                                           title="City"   required>
                                                    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: red"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="about-us" class="row">
                                    <label class="col-md-3 col-form-label">About Us</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                          <textarea class="form-control" th:field="*{aboutUs}"></textarea>
                                            <span th:if="${#fields.hasErrors('aboutUs')}" th:errors="*{aboutUs}"style="color: red"></span>
                                        </div>
                                    </div>
                                </div>
                                <div  class="row" id="website">
                                    <label class="col-md-3 col-form-label">Website Address</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" th:field="*{website}" required>
                                        </div>
                                    </div>
                                </div>
                                <div  class="row" id="hotline">
                                    <label class="col-md-3 col-form-label">Hotline</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input pattern="\b\d+\b" title="Enter number only" class="form-control" th:field="*{hotline}" required>
                                            <span th:if="${#fields.hasErrors('hotline')}" th:errors="*{hotline}" style="color: red"></span>
                                        </div>
                                    </div>
                                </div>
                                <div  class="row" id="email">
                                    <label class="col-md-3 col-form-label">Email</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" placeholder="company-email@gmail.com" class="form-control" th:field="*{email}" required>
                                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
                                        </div>
                                    </div>
                                </div>
                                <div  class="row" id="company-type">
                                    <label class="col-md-3 col-form-label">Company Type</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <select class="form-control" th:field="*{type}">
                                                <option th:value="Any">Company Type</option>
                                                <option th:each="companyType : ${companyTypes}" th:value="${companyType.name}"
                                                        th:utext="${companyType.name}"></option>
                                            </select>
                                            <i class="fa fa-caret-down"></i>
                                        </div>
                                    </div>
                                </div>
                                <div  class="row" id="company-size">
                                    <label class="col-md-3 col-form-label">Company size</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="number" class="form-control" title="company size greater than 1" th:field="*{size}" placeholder="company size" min="1" required>
                                            <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}" style="color: red"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                        <div class="form-group terms">
                                            <input class="custom-radio" id="radio-4" name="termsandcondition" type="checkbox" required title="Agree with Terms and Conditions">
                                            <label for="radio-4">
                                                <span class="dot"></span> You accepts our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <button class="button" type="submit" >Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="post-sidebar">
                        <h5><i data-feather="arrow-down-circle"></i>Navigation</h5>
                        <ul class="sidebar-menu">
                            <li><a href="#company-name">Company Name</a></li>
                            <li><a href="#company-location">Company Location</a></li>
                            <li><a href="#about-us">About Us</a></li>
                            <li><a href="#website">Website Address</a></li>
                            <li><a href="#hotline">Hotline</a></li>
                            <li><a href="#email">Email</a></li>
                            <li><a href="#company-type">Company Type</a></li>
                            <li><a href="#company-size">Company Size</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/sub-footer"></div>
</body>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datepicker").setAttribute("min", today);
</script>
<div th:replace="common/footer :: footer"></div>
</html>