<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>

<div th:insert="common/sub-head"></div>

<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Employer Dashboard</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Employer Dashboard</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-6">
        <div class="breadcrumb-form">
          <form th:action="@{/employer/dashboard/candidate/manage}">
            <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Enter candidate name" />
            <button type="submit">
              <i data-feather="search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->
<div class="alice-bg section-padding-bottom">
  <div class="container no-gliters">
    <div class="row no-gliters">
      <div class="col">
        <div class="dashboard-container">
          <div class="dashboard-content-wrapper">
            <div class="manage-candidate-container">
              <table class="table">
                <thead>
                <tr>
                  <th>Candidate</th>
                  <th>Job Application</th>
                  <th>Email</th>
                  <th class="action">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="candidates-list" th:each="can : ${page}">
                  <td class="title">
                    <div class="thumb">
                      <img th:src="@{/images/dashboard/user-1.jpg}" class="img-fluid" alt="">
                    </div>
                    <div class="body">
                      <h5><a th:href="@{'/candidate/detail/'+${can.getUser().getUserId()}}" th:utext="${can.getUser().getFullName()}"></a></h5>
                      <div class="info">
                        <span th:text="${can.getUser().getProfessionalSkill()}" class="designation"><a href="#"><i data-feather="check-square"></i></a></span>
                        <span th:text="${can.getUser().getLocation()}" class="location"><a href="#"><i data-feather="map-pin"></i></a></span>
                      </div>
                    </div>
                  </td>
                  <td th:text="${can.getJob().getJobTitle()}"></td>
                  <td th:text="${can.getEmail()}"></td>
                  <td class="action">
                    <a th:href="@{'/userAppliedJob/downloadCV/' + ${can.getUserAppliedJobId()}}" class="download"><i data-feather="download"></i></a>
<!--                    <a href="#" class="inbox"><i data-feather="mail"></i></a>-->
                    <a href="#" class="inbox" data-toggle="modal" data-target="#exampleModal"><i data-feather="mail"></i></a>
                    <a class="remove"
                       sec:authorize="hasAuthority('ADMIN_COMPANY')"
                       th:href="@{'/userAppliedJob/delete/' + ${can.getUserAppliedJobId()}}"
                       th:data-confirm-delete="|Are you sure you want to delete this candidate: ${can.getUser().getFullName()}?|"
                       onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"><i data-feather="trash-2"></i></a>
                  </td>
                  <div class="information-and-contact">
                    <!-- Modal -->
                    <div class="modal fade contact-form-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <h4><i data-feather="edit"></i>Contact Candidate</h4>
                            <form th:action="@{/employer/dashboard/contact/{userAppliedJobId}(userAppliedJobId=${can.getUserAppliedJobId()})}" method="POST">
                              <div class="form-group">
                                <input id="com_name" type="text" class="form-control" name="name" placeholder="Your Company Name" required>
                              </div>
                              <div class="form-group">
                                <input id="com_email" type="email" class="form-control" name="email" placeholder="Your Company Email" required>
                              </div>
                              <div class="form-group">
                                <textarea id="com_message" class="form-control" name="message" placeholder="Your Message" required></textarea>
                              </div>
                              <button class="button" type="submit">Submit</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                </tbody>
              </table>

              <div class="pagination-list text-center" th:if="${!isEmptyListCandidate}">
                <nav class="navigation pagination">
                  <div class="nav-links">
                      <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                        <a th:href="@{'/employer/dashboard/candidate/manage?pageNumber=' + ${page.number} + '&keyword=' + ${keyword}}">Pre</a>
                      </span>
                    <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
                          <a th:href="@{'/employer/dashboard/candidate/manage?pageNumber='+${i+1}+ '&keyword=' + ${keyword}}">[[${i}+1]]</a>
                        </span>
                      </span>
                    <span class="next page-numbers" th:if="${page.hasNext()}">
                        <a th:href="@{'/employer/dashboard/candidate/manage?pageNumber='+${page.number+2}+ '&keyword=' + ${keyword}}">Next</a>
                      </span>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="dashboard-sidebar" th:insert="common/menu-dashboard-employer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="common/sub-footer"></div>
<!-- Optional JavaScript -->
<div th:replace="common/footer :: footer"></div>
</body>
</html>
