<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>

<div th:insert="common/sub-head"></div>

<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-area">
                    <h1 th:text="${company.getName()}"></h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{'/company/detail/'+${companyId}}"></a>Company Detail</li>
                            <li class="breadcrumb-item active" aria-current="page">Review List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Job Listing -->
<div class="alice-bg section-padding-bottom">
    <div class="container">
        <div class="filtered-employer-wrapper">
            <div class="employer-view-controller-wrapper">
                <div class="employer-view-controller">
                    <div class="controller list active">
                        <i data-feather="menu"></i>
                    </div>
                    <div class="controller grid">
                        <i data-feather="grid"></i>
                    </div>
                </div>
                <div class="showing-number"  th:if="${!isEmptyListCompanyReview}">
                    <span th:if="${page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.number*pageSize+pageSize} +' of ' + ${page.totalElements}+ ' Reviews'"></span>
                    <span th:if="${!page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.totalElements} +' of ' + ${page.totalElements}+ ' Reviews'"></span>
                </div>
            </div>
            <div class="employer-filter-result">
                <div class="employer" th:each="review:${page}">
                    <div>
                        <div>
                            <p class="d-inline" style="font-weight: bold;font-size: 25px" th:utext="${review.title}"></p>
                        </div>
                        <div id="rating-div">
                            <div class="d-inline-block pl-2" style="font-size: 20px;font-weight: bold"><p id="rate-text" th:text="${review.rating}"></p></div>
                            <div style="background-color: grey" class="d-inline-block ml-1"><span  style="color: gainsboro;font-size: 25px" class="fas fa-star rate-1"></span></div>
                            <div style="background-color: grey" class="d-inline-block"><span  style="color: gainsboro;font-size: 25px" class="fas fa-star rate-2"></span></div>
                            <div style="background-color: grey" class="d-inline-block"><span  style="color: gainsboro;font-size: 25px" class="fas fa-star rate-3"></span></div>
                            <div style="background-color: grey" class="d-inline-block"><span  style="color: gainsboro;font-size: 25px" class="fas fa-star rate-4"></span></div>
                            <div style="background-color: grey" class="d-inline-block"><span  style="color: gainsboro;font-size: 25px" class="fas fa-star rate-5"></span></div>
                        </div>
                        <p class="ml-4 mt-2" th:utext="${review.reviewDate}"></p>
                        <input class="rating-input" th:value="${review.rating}" hidden>
                    </div>
                    <div class="body">
                        <div class="content">
                            <div>
                                <p style="font-weight: bold;font-size: 16px;color: #4a4747">Điều Tôi Thích</p>
                            </div>
                            <div>
                                <p th:utext="${review.satisfaction}"></p>
                            </div>
                            <div class="pt-2">
                                <p style="font-weight: bold;font-size: 16px;color: #4a4747">Đề nghị cải thiện</p>
                            </div>
                            <div>
                                <p th:utext="${review.improvement}"></p>
                            </div>
                            <div class="pr-0 pt-2">
                                <p style="font-weight: bold" th:text="'By '+${review.getUser().getUsername()}"></p>
                            </div>
                        </div>
                    </div>
                    <input class="totalReview" th:value="${page.totalElements}" hidden>
                </div>
            </div>
            <div class="pagination-list text-center">
                <nav class="navigation pagination" th:if="${!isEmptyListCompanyReview}">
                    <div class="nav-links">
                                      <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                                        <a th:href="@{'/company/review-list?companyId=' +${companyId} +'&pageNumber=' + ${page.number}}">Pre</a>
                                      </span>
                        <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                                        <span th:unless="${page.number == i}">
                                          <a th:href="@{'/company/review-list?companyId=' +${companyId} +'&pageNumber=' +${i+1}}">[[${i}+1]]</a>
                                        </span>
                                      </span>
                        <span class="next page-numbers" th:if="${page.hasNext()}">
                                        <a th:href="@{'/company/review-list?companyId=' +${companyId} +'&pageNumber='+${page.number+2}}">Next</a>
                                       </span>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Job Listing End -->
<div th:insert="common/sub-footer"></div>
</body>
<div th:replace="common/footer :: footer"></div>
<script>
    let totalReview = $(".totalReview").val();
    for (let i = 0; i < totalReview; i++) {
        let rating= $(".rating-input").val();
        if(rating==1){
            $(".rate-1").css("color","yellow");
        }else if(rating==0){
            $(".rate-text:text").val("Not rated");
        }else if(rating==2){
            $(".rate-1").css("color","yellow");
            $(".rate-2").css("color","yellow");
        }else if(rating==3){
            $(".rate-1").css("color","yellow");
            $(".rate-2").css("color","yellow");
            $(".rate-3").css("color","yellow");
        }else if(rating==4){
            $(".rate-1").css("color","yellow");
            $(".rate-2").css("color","yellow");
            $(".rate-3").css("color","yellow");
            $(".rate-4").css("color","yellow");
        }else {
            $(".rate-1").css("color", "yellow");
            $(".rate-2").css("color", "yellow");
            $(".rate-3").css("color", "yellow");
            $(".rate-4").css("color", "yellow");
            $(".rate-5").css("color", "yellow");
        }
    }


</script>
</html>
