<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header"></head>
<body>

<div th:insert="common/sub-head"></div>

<div class="padding-top-80 section-padding-bottom alice-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div
                class="section-padding-150 error-page-wrap text-center white-bg">
          <div class="icon">
            <img th:src="@{/images/error.png}" class="img-fluid"
                 alt="">
          </div>
          <h1 th:text="${httpErrorCode}"></h1>
          <p th:text="${errorMsg}"></p>
          <a class="button" onclick="goBack()">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/footer :: footer"></div>

<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>

</html>