<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>
<!-- Candidates Details -->
<div class="alice-bg padding-top-60 section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="job-listing-details">
                    <div class="job-title-and-info">
                        <div class="title">
                            <div class="thumb">
                                <img th:src="@{/images/job/company-logo-1.png}" class="img-fluid" alt="">
                            </div>
                            <div class="title-body">
                                <h4 th:text="${jobDetail?.jobTitle}"></h4>
                                <div class="info">
                                    <span th:utext="${jobDetail?.company?.name}" class="company"><a href="#"><i
                                            data-feather="briefcase"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <a sec:authorize="hasAuthority('CANDIDATE')"
                               th:if="${!isJobSaved} "
                               th:href="@{'/job/save/' + ${jobId}}"
                               th:data-confirm-delete="|Save job : ${jobDetail.getJobTitle()}?|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                               class="save"><i data-feather="heart"></i>Save Job</a>

                            <a sec:authorize="hasAnyAuthority('CANDIDATE', 'ANONYMOUS_USER')"
                               class="apply"
                               href="#"
                               data-toggle="modal"
                               data-target="#apply-popup-id">Apply Online</a>
                            <a th:if="${listJobIdCurrentCompany?.contains(jobDetail.jobId) || currentUserRole?.equals('ADMIN_SYSTEM')}"
                               th:href="@{'/job/delete/' + ${jobDetail.jobId}}"
                               style="font-size: 15px; padding: 15px 35px; margin: 0px 0px 0px 10px; text-align:center;"
                               class="btn btn-danger"
                               th:data-confirm-delete="|Are you sure you want to delete this job: ${jobDetail.jobTitle}?|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete</a>
                            <a th:if="${listJobIdCurrentCompany?.contains(jobDetail.jobId) || currentUserRole?.equals('ADMIN_SYSTEM')}"
                               th:href="@{'/job/edit/' + ${jobDetail.jobId}}"
                               style="font-size: 15px; padding: 15px 35px; margin: 0px 0px 0px 10px; text-align:center;"
                               class="btn btn-warning">Edit</a>
                        </div>
                    </div>
                    <div class="details-information section-padding-60">
                        <div class="row">
                            <div class="col-xl-7 col-lg-8">
                                <div class="description details-section">
                                    <h4><i data-feather="align-left"></i>Job Description</h4>
                                    <p th:utext="${jobDetail?.description}"></p>
                                </div>
                                <div class="responsibilities details-section">
                                    <h4><i data-feather="zap"></i>Requirements</h4>
                                    <p th:utext="${jobDetail?.requirement}"></p>
                                </div>
                                <div class="edication-and-experience details-section">
                                    <h4><i data-feather="book"></i>Experience</h4>
                                    <p th:utext="${jobDetail?.experience}"></p>
                                </div>
                                <div class="other-benifit details-section">
                                    <h4><i data-feather="gift"></i>Other Benefits</h4>
                                    <p th:utext="${jobDetail?.otherBenefit}"></p>
                                </div>

                                <div th:if="${!isListAppliedJobEmpty}" sec:authorize="hasAnyAuthority('ADMIN_SYSTEM', 'ADMIN_COMPANY')"
                                     class="other-benifit details-section">
                                    <h4><i data-feather="gift"></i>List User Applied Job</h4>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Full Name</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Interview Schedule</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="userAppliedJob, index : ${listUserAppliedJob}">
                                            <td th:utext="${index.index + 1}"></td>
                                            <td th:utext="${userAppliedJob?.getUser()?.getFullName()}"></td>
                                            <td th:utext="${userAppliedJob?.getUser()?.getAddress()}"></td>
                                            <td>
                                                <a type="button" class="btn btn-info btn-lg" th:href="@{'/userAppliedJob/interview/add/' + ${userAppliedJob?.getUserAppliedJobId()}}">Add</a>
                                                <a type="button" class="btn btn-warning btn-lg" th:href="@{'/userAppliedJob/interview/add/' + ${userAppliedJob?.getUserAppliedJobId()}}">Edit</a>
                                                <a type="button" class="btn btn-danger btn-lg" th:href="@{'/userAppliedJob/interview/add/' + ${userAppliedJob?.getUserAppliedJobId()}}">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="job-apply-buttons">
                                    <a sec:authorize="hasAnyAuthority('CANDIDATE',)" href="#" class="email"><i data-feather="mail"></i>Email Job</a>
                                </div>
                            </div>
                            <div class="col-xl-4 offset-xl-1 col-lg-4">
                                <div class="information-and-share">
                                    <div class="job-summary">
                                        <h4>Job Summary</h4>
                                        <ul>
                                            <li><span>Published on:</span><span
                                                    th:utext="${jobDetail.createdDate}"></span></li>
                                            <li><span>Application Deadline:</span> <span
                                                    th:utext="${jobDetail.deadline}"></span></li>
                                            <li><span>Employment Status:</span><span
                                                    th:utext="${jobDetail.jobType}"></span></li>
                                            <li><span>Job Location:</span><span th:utext="${jobDetail.city}"></span>
                                            </li>
                                            <li><span>Salary:</span><span th:utext="${jobDetail.salary + ' ' +  jobDetail?.currency}"></span></li>
                                            <li><span>Gender:</span> <span th:utext="${jobDetail.gender}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="company-information details-section">
                                <h4><i data-feather="briefcase"></i>About the Company</h4>
                                <ul>
                                    <li><span>Company Name:</span> <span th:utext="${jobDetail?.company?.name}"></span></li>
                                    <li><span>Address:</span> <span th:text="${jobDetail?.company?.street}+' ,'+${jobDetail?.company?.district}+', '+${jobDetail?.company?.city}"></span></li>
                                    <li><span>Website:</span> <a th:href="@{${jobDetail?.company?.website}}"></a></li>
                                    <li><span>Company Profile:</span></li>
                                    <li><span th:text="${jobDetail?.company?.aboutUs}"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Candidates Details End -->

<div class="apply-popup">
    <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'/apply?jobId='+${jobDetail.jobId}}" th:object="${applyJobDTO}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" name="jobId" th:value="${jobId}">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email Address" class="form-control" th:field="*{email}" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message" th:field="*{message}" required></textarea>
                        </div>
                        <div class="form-group file-input-wrap">
                            <label for="up-cv">
                                <input id="up-cv" type="file" th:field="*{multipartFile}"  required  style="display: block;">
                                <i data-feather="upload-cloud"></i>
                                <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                            </label>
                            <div id="cv-file-info"></div>
                            <span style="color: red" id="warning-message"></span>
                            <span th:if="${fileCVName}" th:utext="${fileCVName}"></span>
                            <span th:if="${message}" th:utext="${message}" style="color: red"></span>
                        </div>
                        <div class="more-option">
                            <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                            <label for="radio-4">
                                <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                            </label>
                        </div>
                        <button type="submit" class="button primary-bg btn-block">Apply Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jobs -->
<div class="section-padding-bottom alice-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header-2 section-header-with-right-content">
                    <h2>Simillar Jobs</h2>
                    <a href="#" class="header-right">+ Browse All Jobs</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="job-list" th:each="similarJob:${similarJobs}">
                    <div class="thumb">
                        <a href="#">
                            <img th:src="@{/images/job/company-logo-1.png}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4 th:text="${similarJob.jobTitle}"></h4>
                            <div class="info">
                                <span class="company" th:utext="${similarJob?.company?.name}"><i data-feather="briefcase"></i></a></span>
                                <span class="office-location" th:text="${similarJob.city}"><a href="#"><i
                                        data-feather="map-pin" ></i></a></span>
                                <span class="job-type full-time" th:text="${similarJob.jobType}"><a href="#"><i
                                        data-feather="clock"></i></a></span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a th:href="@{'/job/detail/' + ${similarJob.jobId}}" class="button">View Detail</a>
                                <a sec:authorize="hasAnyAuthority('ADMIN_SYSTEM','CANDIDATE')"
                                   th:if="${!isJobSaved} "
                                   th:href="@{'/job/save/' + ${similarJob.jobId}}"
                                   th:data-confirm-delete="|Save job : ${similarJob.getJobTitle()}?|"
                                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                                   class="button"><i class="far fa-heart"></i>
                                </a>
                            </div>
                            <p class="deadline" th:text="'Deadline: '+${similarJob.deadline}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->
<div th:insert="common/sub-footer"></div>
</body>
<div th:replace="common/footer :: footer"></div>
<script>
</script>
</html>