<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>
    <div th:insert="common/sub-head"></div>
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Job Listing</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Job Listing</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="breadcrumb-form">
              <form th:action="@{/job/list}">
                <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Enter job title..." />
                <button type="submit">
                  <i data-feather="search"></i>
                </button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Job Listing -->
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <div class="job-listing-container">
              <div class="filtered-job-listing-wrapper">
                <div class="job-view-controller-wrapper">
                  <div class="job-view-controller">
                    <div class="controller list active">
                      <i data-feather="menu"></i>
                    </div>
                    <div class="controller grid">
                      <i data-feather="grid"></i>
                    </div>
                  </div>
                  <div class="showing-number" th:if="${!isEmptyListJob}">
                    <span th:if="${page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.number*pageSize+pageSize} +' of ' + ${page.totalElements}+ ' Jobs'"></span>
                    <span th:if="${!page.hasNext()}" th:utext="'Showing ' + ${page.number*pageSize+1} +' – ' + ${page.totalElements} +' of ' + ${page.totalElements}+ ' Jobs'"></span>
                  </div>
                </div>
                <div class="job-filter-result">
                  <div class="job-list" th:each="job : ${page}">
                    <div class="thumb">
                      <a href="#">
                        <img th:src="@{/images/job/company-logo-2.png}" class="img-fluid" alt="">
                      </a>
                    </div>
                    <div class="body">
                      <div class="content">
                        <h4>
                          <a th:href="@{'/job/detail/' + ${job.jobId}}"
                               th:utext="${job.getJobTitle()}"></a>
                        </h4>
                        <div class="info">
                          <span class="company">
                            <i data-feather="briefcase"></i>
                            <a href="#" th:utext="${job?.company?.name}"></a>
                          </span>
                          <span class="office-location">
                            <i data-feather="map-pin"></i>
                            <a href="#" th:utext="${job.getCity()}"></a>
                          </span>
                          <span class="job-type part-time">
                            <i data-feather="clock"></i>
                            <a href="#" th:utext="${job.getJobType().getName()}"></a></span>
                        </div>
                      </div>
                      <div class="more">
                        <div class="buttons">
                          <a th:if="${listJobIdCurrentCompany?.contains(job.jobId) || currentUserRole?.equals('ADMIN_SYSTEM')}"
                             th:href="@{'/job/delete/' + ${job.jobId}}"
                             style="font-size: 15px; padding: 7px 10px; margin: 0px 0px 0px 10px;"
                             class="btn btn-danger"
                             th:data-confirm-delete="|Are you sure you want to delete this job: ${job.jobTitle}?|"
                             onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete</a>
                          <a th:if="${listJobIdCurrentCompany?.contains(job.jobId) || currentUserRole?.equals('ADMIN_SYSTEM')}"
                             th:href="@{'/job/edit/' + ${job.jobId}}"
                             style="font-size: 15px; padding: 7px 20px; margin: 0px 0px 0px 10px;"
                             class="btn btn-warning">Edit
                          </a>
                          <a th:href="@{'/job/detail/' + ${job.jobId}}" class="button">View</a>
                          <a sec:authorize="hasAuthority('CANDIDATE')"
                             th:if="${!isJobSaved}"
                             th:href="@{'/job/save/' + ${job.jobId}}"
                             th:data-confirm-delete="|Save job : ${job.jobTitle}?|"
                             onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                             class="button"><i class="far fa-heart"></i>
                          </a>
                        </div>
                        <p class="deadline" th:utext="${'Deadline: ' + job.getDeadline()}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="apply-popup">
                    <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="#">
                              <div class="form-group">
                                <input type="text" placeholder="Full Name" class="form-control">
                              </div>
                              <div class="form-group">
                                <input type="email" placeholder="Email Address" class="form-control">
                              </div>
                              <div class="form-group">
                                <textarea class="form-control" placeholder="Message"></textarea>
                              </div>
                              <div class="form-group file-input-wrap">
                                <label for="up-cv">
                                  <input id="up-cv" type="file">
                                  <i data-feather="upload-cloud"></i>
                                  <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                                </label>
                              </div>
                              <div class="more-option">
                                <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                                <label for="radio-4">
                                  <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                                </label>
                              </div>
                              <button class="button primary-bg btn-block">Apply Now</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pagination-list text-center" th:if="${!isFilter}">
                  <nav class="navigation pagination">
                    <div class="nav-links"  th:if="${!isEmptyListJob}">
                        <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                          <a th:href="@{'/job/list?pageNumber=' + ${page.number} + '&keyword=' + ${keyword}}">Pre</a>
                        </span>
                        <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                          <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                          <span th:unless="${page.number == i}">
                            <a th:href="@{'/job/list?pageNumber='+${i+1}+ '&keyword=' + ${keyword}}">[[${i}+1]]</a>
                          </span>
                        </span>
                        <span class="next page-numbers" th:if="${page.hasNext()}">
                          <a th:href="@{'/job/list?pageNumber='+${page.number+2}+ '&keyword=' + ${keyword}}">Next</a>
                        </span>
                    </div>
                  </nav>
                </div>
                <div class="pagination-list text-center" th:if="${isFilter}">
                  <nav class="navigation pagination">
                    <div class="nav-links"  th:if="${!isEmptyListJob}">
                        <span class="prev page-numbers" th:if="${page.hasPrevious()}">
                            <a th:href="@{'http://localhost:8080/job/filter?pageNumber='+ ${page.number}+'&skill='+${skill}+'&level='+${level}+'&position='+${position}+'&city='+${city}+'&companyName='+${companyName}+'&jobType='+${jobType}}">Pre</a>
                        </span>
                        <span class="page-numbers" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                            <span th:unless="${page.number == i}">
                               <a th:href="@{'http://localhost:8080/job/filter?pageNumber='+ ${i+1}+'&skill='+${skill}+'&level='+${level}+'&position='+${position}+'&city='+${city}+'&companyName='+${companyName}+'&jobType='+${jobType}}">[[${i}+1]]</a>
                            </span>
                        </span>
                        <span class="next page-numbers" th:if="${page.hasNext()}">
                          <a th:href="@{'http://localhost:8080/job/filter?pageNumber='+ ${page.number+2}+'&skill='+${skill}+'&level='+${level}+'&position='+${position}+'&city='+${city}+'&companyName='+${companyName}+'&jobType='+${jobType}}">Next</a>
                        </span>
                    </div>
                  </nav>
              </div>
            </div>
              <div class="job-filter-wrapper">
                <div style="padding-left: 25px">
                  <p style="color: #706f6f">You've selected: </p>
                  <div style="color: #ba3030" th:if="${(param.skill != null)}">
                    <span><i class="fas fa-check"></i></span><span th:text="${param.skill[0]}"></span>
                  </div>
                  <div style="color: #ba3030" th:if="${(param.position != null)}" >
                    <span><i class="fas fa-check"></i></span><span th:text="${param.position[0]}"></span>
                  </div>
                  <div style="color: #ba3030" th:if="${(param.level != null)}" >
                    <span><i class="fas fa-check"></i></span><span th:text="${param.level[0]}"></span>
                  </div>
                  <div style="color: #ba3030" th:if="${(param.city != null)}" >
                    <span><i class="fas fa-check"></i></span><span th:text="${param.city[0]}"></span>
                  </div>
                  <div style="color: #ba3030" th:if="${(param.companyName != null)}" >
                    <span><i class="fas fa-check"></i></span><span th:text="${param.companyName[0]}"></span>
                  </div>
                  <div style="color: #ba3030" th:if="${(param.jobType != null)}" >
                    <span><i class="fas fa-check"></i></span><span th:text="${param.jobType[0]}"></span>
                  </div>
                </div>
                <form th:action="@{/job/filter}">
                  <div class="job-filter-dropdown same-pad category">
                    <select class="selectpicker" th:name="skill">
                      <option value="">Skill</option>
                      <option  th:each="sk : ${listSkill}" th:text="${sk.getName()}" th:value="${sk.getName()}"></option>
                    </select>
                  </div>
                  <div class="job-filter-dropdown same-pad category">
                    <select class="selectpicker" th:name="level">
                      <option value="">Level</option>
                      <option  th:each="lv : ${listJobLevel}" th:text="${lv.getName()}" th:value="${lv.getName()}" ></option>
                    </select>
                  </div>
                  <div class="job-filter-dropdown same-pad location">
                    <select class="selectpicker" th:name="position">
                      <option value="">Position</option>
                      <option  th:each="p : ${listPosition}" th:text="${p.getName()}" th:value="${p.getName()}"></option>
                    </select>
                  </div>
                  <div class="job-filter-dropdown same-pad location">
                    <select class="selectpicker" th:name="city">
                      <option value="">Location</option>
                      <option  th:each="city : ${listCity}" th:text="${city}" th:value="${city}"></option>
                    </select>
                  </div>
                  <div class="job-filter-dropdown same-pad location">
                    <select class="selectpicker" th:name="companyName">
                      <option value="">Company</option>
                      <option  th:each="c : ${listCompany}" th:text="${c.getName()}" th:value="${c.getName()}"></option>
                    </select>
                  </div>
                  <div class="job-filter-dropdown same-pad location">
                    <select class="selectpicker" th:name="jobType">
                      <option value="">Job Type</option>
                      <option th:each="jt : ${listJobType}" th:text="${jt.getName()}" th:value="${jt.getName()}"></option>
                    </select>
                  </div>
                  <div style="margin-left: 25px; margin-top: 20px">
                    <button type="submit" >
                      <span style="color: #9eacfd"><i class="fas fa-filter"></i></span>Filter
                    </button>
                    <button>
                      <span style="color: red"><i class="far fa-times-circle"></i></span><a th:href="@{/job/list(pageNumber=1, keyword='')}">Clear All</a>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Job Listing End -->
    <div th:insert="common/sub-footer"></div>
  </body>
  <div th:replace="common/footer :: footer"></div>
</html>