<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
<body>
<div th:insert="common/sub-head"></div>
<!-- Breadcrumb -->
<div class="alice-bg padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Update Job</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li aria-current="page" class="breadcrumb-item active">Update Job</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<div class="alice-bg section-padding-bottom">
  <div class="container no-gliters">
    <div class="row no-gliters">
      <div class="col">
        <div class="post-container">
          <div class="post-content-wrapper">
            <form class="job-post-form" method="POST" th:action="@{'/job/edit/' + ${editJob.jobId}}" th:object="${editJob}">
              <div class="basic-info-input">
                <h4><i data-feather="plus-circle"></i>Post A Job</h4>
                <div class="row" id="job-summery">
                  <label class="col-md-3 col-form-label">Job Summary</label>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control" th:field="*{positionId}">
                            <option th:value="'1'">Position</option>
                            <option th:each="position : ${lstPosition}"
                                    th:utext="${position.name}"
                                    th:value="${position.positionId}"></option>
                          </select>
                          <i class="fa fa-caret-down"></i>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Job Location (City)" th:field="*{city}"
                                 required>
                          <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: red"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control" th:field="*{jobType}">
                            <option th:value="'Any'">Job Type</option>
                            <option th:each="jobType : ${lstJobType}" th:value="${jobType.getName()}"
                                    th:utext="${jobType.getName()}"></option>
                          </select>
                          <i class="fa fa-caret-down"></i>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Experience" th:field="*{experience}">
                          <span th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"
                                style="color: red"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control" th:field="*{skillId}">
                            <option th:value="'1'">Skill</option>
                            <option th:each="skill : ${lstSkill}" th:value="${skill.getSkillId()}"
                                    th:utext="${skill.getName()}"></option>
                          </select>
                          <i class="fa fa-caret-down"></i>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Salary Range" th:field="*{salary}"
                                 required>
                          <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" style="color: red"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control" th:field="*{currency}">
                            <option th:value="'No currency'">Currency</option>
                            <option th:each="curr : ${lstCurrency}" th:value="${curr.getName()}"
                                    th:utext="${curr.getName()}"></option>
                          </select>
                          <i class="fa fa-caret-down"></i>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control" th:field="*{gender}">
                            <option th:value="'Any'">Gender</option>
                            <option th:each="gender : ${lstGender}" th:value="${gender.getName()}"
                                    th:utext="${gender.getName()}"></option>
                          </select>
                          <i class="fa fa-caret-down"></i>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Quantity" th:field="*{quantity}"
                                 required>
                          <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
                                style="color: red"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control" th:field="*{joblevelId}">
                            <option th:value="'1'">Job Level</option>
                            <option th:each="jobLevel : ${lstJobLevel}" th:value="${jobLevel.getJobLevelId()}"
                                    th:utext="${jobLevel.getName()}"></option>
                          </select>
                          <i class="fa fa-caret-down"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="deadline" class="row">
                  <label class="col-md-3 col-form-label">Deadline</label>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input id="datepicker" type="date" class="form-control" th:field="*{deadline}" required>
                    </div>
                  </div>
                </div>
                <div id="job-description" class="row">
                  <label class="col-md-3 col-form-label">Job Description</label>
                  <div class="col-md-9">
                    <div class="form-group">
                      <textarea class="form-control"
                                placeholder="Description text here"
                                th:field="*{description}"></textarea>
                      <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                            style="color: red"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-3 col-form-label">Other Benefit</label>
                  <div class="col-md-9">
                    <div class="form-group">
                      <textarea class="form-control"
                                placeholder="Other Benefit"
                                th:field="*{otherBenefit}"></textarea>
                      <span th:if="${#fields.hasErrors('otherBenefit')}" th:errors="*{otherBenefit}"
                            style="color: red"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-3 col-form-label">Requirement</label>
                  <div class="col-md-9">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Requirement" th:field="*{requirement}"
                                required></textarea>
                      <span th:if="${#fields.hasErrors('requirement')}" th:errors="*{requirement}"
                            style="color: red"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9 offset-md-3">
                    <div class="form-group terms">
                      <input class="custom-radio" id="radio-4" name="termsandcondition"
                             required type="checkbox">
                      <label for="radio-4">
                        <span class="dot"></span> You accepts our <a href="#">Terms
                        and Conditions</a> and <a href="#">Privacy Policy</a>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label"></label>
                  <div class="col-md-9">
                    <button class="button">Post Your Job</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="post-sidebar">
            <h5><i data-feather="arrow-down-circle"></i>Navigation</h5>
            <ul class="sidebar-menu">
              <li><a href="#job-title">Job Title</a></li>
              <li><a href="#job-summery">Job Summary</a></li>
              <li><a href="#job-description">Job Descruption</a></li>
              <li><a href="#response">Responsibilities</a></li>
              <li><a href="#education">Education</a></li>
              <li><a href="#others">Your Location</a></li>
              <li><a href="#post-location">About Company</a></li>
              <li><a href="#package">Select Package</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="common/sub-footer"></div>
</body>
<script>
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();
  if (dd < 10) {
    dd = '0' + dd
  }
  if (mm < 10) {
    mm = '0' + mm
  }
  today = yyyy + '-' + mm + '-' + dd;
  document.getElementById("datepicker").setAttribute("min", today);
</script>
<div th:replace="common/footer :: footer"></div>
</html>