<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header"></head>
<body>

<div th:insert="common/sub-head"></div>

<div class="padding-top-80 section-padding-bottom alice-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-padding-150 error-page-wrap text-center white-bg">
          <div class="icon">
            <img th:src="@{/images/confirm/email-logo.jpg}" class="img-fluid"
                 alt="">
          </div>
          <h5 th:text="'A verification email has been sent to: ' + ${email}"></h5>
            <p>Click here to check your email!</p>
            <button onclick="openEmail()" class="button">Click!</button>

        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/footer :: footer"></div>
</body>
<script>
    function openEmail() {
        location.href= "https://mail.google.com/mail/u/0/#inbox";
    }
</script>

</html>