<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
  <body>

    <header class="header-2 access-page-nav">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top">
              <div class="logo-area">
                <a href="index.html"><img th:src="@{/images/logo-2.png}" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="padding-top-90 padding-bottom-90 access-page-bg">
      <div class="container">
          <div class="row mb-5">
              <button style="width: 100%" class="btn btn-lg btn-danger" th:if="${isAccountDeleted}" th:text="${message}"></button>
          </div>
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="access-form">
              <div class="form-header">
                <h5><i data-feather="user"></i>Login</h5>
              </div>
              <form th:action="@{/login}" method="post">
                <div class="form-group">
                  <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group">
                  <p style="color: red" th:if="${(param.error != null)}" th:text="'Invalid username or password!'"></p>
                </div>

                <div class="more-option">
<!--                  <div class="mt-0 terms">-->
<!--                    <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">-->
<!--                    <label for="radio-4">-->
<!--                      <span class="dot"></span> Remember Me-->
<!--                    </label>-->
<!--                  </div>-->
                  <a th:href="@{/login/forgot_password}">Forget Password?</a>
                </div>
                <button class="button primary-bg btn-block">Login</button>
              </form>
              <div class="shortcut-login">
                <p style="text-align: center;">Don't have an account?</p>
                <div>
                  <button class="button btn-block" style="color:black; background-color:#ad91c4 "><a th:href="@{/register/candidate}">Register as a candidate</a></button>
                  <button class="button btn-block" style="color: black; background-color: #c3e6cb"><a th:href="@{/register/company}">Register as an employer</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<div th:replace="common/footer :: footer"></div>
</html>