<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header"></head>
<body>

<div th:insert="common/sub-head"></div>

<div class="padding-top-80 section-padding-bottom alice-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-padding-150 error-page-wrap text-center white-bg">
          <div th:if="${isConfirmSuccess}"  class="icon">
            <img th:src="@{/images/confirm/congratulation.jpg}" class="img-fluid"
                 alt="">
          </div>
          <div th:if="${!isConfirmSuccess}" class="icon">
            <img th:src="@{/images/confirm/oops.jpg}" class="img-fluid"
                 alt="">
          </div>
          <h5 th:if="${isConfirmSuccess}">Your account has been activated and email is verified!</h5>
          <a th:if="${isConfirmSuccess}" class="button" th:href="@{/login}">Login</a>
          <h5 th:if="${!isConfirmSuccess}">The confirmation link is invalid or broken!</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/footer :: footer"></div>
</body>

</html>