<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
<body>

    <header class="header-2 access-page-nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header-top">
                        <div class="logo-area">
                            <a th:href="@{/home}"><img th:src="@{/images/logo-2.png}" alt=""></a>
                        </div>
                        <div class="top-nav">
                            <a th:href="@{/login}" class="account-page-link">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="padding-top-90 padding-bottom-90 access-page-bg">
        <div class="container">
            <div class="row mb-5">
                <button style="width: 100%" class="btn btn-lg btn-danger" th:if="${isAccountDeleted}" th:text="${message}"></button>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="access-form">
                        <div class="form-header">
                            <h5><i data-feather="edit"></i>Register Account</h5>
                        </div>
                        <form th:action="@{/register/addHr}" th:object="${newUser}" method="post">
                            <div class="form-group">
                                <input type="text" placeholder="Username" class="form-control" th:field="*{username}">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email Address" class="form-control" th:field="*{email}">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" th:field="*{password}">
                            </div>

                            <div class="form-group">
                                <select class="form-control" th:field="*{companyId}">
                                    <option th:value="'1'"> Select Company</option>
                                    <option th:each="company : ${lstCompany}"
                                            th:utext="${company.name}"
                                            th:value="${company.companyId}"></option>
                                </select>
                            </div>

                            <a th:href="@{/company/create}" style="margin-bottom: 15%; color: grey;">Dont have Company? Register Now!</a>


                            <div class="more-option terms">
                                <div class="mt-0 terms">
                                    <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition" required>
                                    <label for="radio-4">
                      <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                    </label>
                                </div>
                            </div>
                            <button class="button primary-bg btn-block" onclick="post()">Register</button>
                        </form>
                        <div class="shortcut-login">
                            <p>Already have an account? <a th:href="@{/login}">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/jquery.nstSlider.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/visible.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/plyr.js"></script>
    <script src="assets/js/tinymce.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="js/custom.js"></script>

    <script src="register.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="js/map.js"></script>
</body>

</html>