<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header">
<body>
    <div style="text-align: center; margin: 4% 0% 3% 0%;">
        <h4>Reset Your Password</h4>
    </div>

    <form th:action="@{/login/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="border border-secondary rounded p-3">
            <div>
                <p style="margin: 3% 2%;">
                    <input style="font-size: 15px;" type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" required autofocus />
                </p>
                <p style="margin: 3% 2%;">
                    <input style="font-size: 15px;" type="password" class="form-control" placeholder="Confirm your new password"
                           required oninput="checkPasswordMatch(this);" />
                </p>
                <p class="text-center">
                    <input style="font-size: 15px; margin: 3% 0%;" type="submit" value="Change Password" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>

    <div th:if="${message != null}" style="text-align: center; margin: 2% 0%;">
        <p class="text-warning">[[${message}]]</p>
    </div>

    <div style="text-align: center;">
        <a th:if="${isSuccessResetPassword}" th:href="@{/login}"><b>Go Login Page</b></a>
    </div>

</body>
<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
<div th:replace="common/footer :: footer"></div>
</html>