<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:include="common/header :: header">
  <body>
  <div th:insert="common/sub-head"></div>
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Contact Us</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="breadcrumb-form">
              <form action="#">
                <input type="text" placeholder="Enter Keywords">
                <button><i data-feather="search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="contact-block">
              <div class="row">
                <div class="col-lg-4">
                  <div class="contact-address">
                    <h4>Contact Info</h4>
                    <ul>
                      <li><i data-feather="map-pin"></i>International Noel Nawab Street Los Alamitos CA 90720, USA</li>
                      <li><i data-feather="mail"></i>supportjob@gmail.com example@yourmail.com</li>
                      <li><i data-feather="phone-call"></i>+99 06 1234 566 88</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                  <div class="contact-form">
                    <h4>Keep In Touch</h4>
                    <form action="#" id="contactForm">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject">
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <textarea class="form-control" placeholder="Message"></textarea>
                          </div>
                        </div>
                      </div>
                      <button class="button">Submit</button>
                      <p class="input-success">Your message has been sent. Thanks for contact.</p>
                      <p class="input-error">Something went wrong while sending. Please try leter.</p>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div id="map-area" class="contact-map">
                    <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div th:insert="common/sub-footer"></div>
  <div th:replace="common/footer :: footer"></div>
  </body>
</html>