<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="common/header :: header">
<body>
<style>
    #see-more:hover {
        text-decoration: underline;
    }
</style>
<!-- Header -->
<header>
    <nav
            class="navbar navbar-expand-xl absolute-nav transparent-nav cp-nav navbar-light bg-light fluid-nav">
        <a class="navbar-brand" href="index.html">
            <img th:src="@{/images/logo.png}" class="img-fluid" alt="">
        </a>
        <button class="navbar-toggler collapsed" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto main-nav">
                <li class="menu-item active">
                    <a title="Home" th:href="@{/home}">Home</a>
                </li>
                <li class="menu-item dropdown">
                    <a title="" href="#"
                       data-toggle="dropdown" class="dropdown-toggle"
                       aria-haspopup="true" aria-expanded="false">Jobs
                    </a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a th:href="@{/job/list(pageNumber=1, keyword='')}">Job Listing</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN_SYSTEM', 'ADMIN_COMPANY')" class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"
                       aria-expanded="false">Candidates</a>
                    <ul class="dropdown-menu">
                        <li class="menu-item">
                            <a th:href="@{'/candidate/list?pageNumber=1&keyword='}">Candidate Listing</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"
                       aria-expanded="false">Employers</a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a th:href="@{/company/list?pageNumber=1&keyword=}">Employer Listing</a></li>
                    </ul>
                </li>
                <li class="menu-item dropdown">
                    <a sec:authorize="hasAuthority('CANDIDATE')" th:href="@{/candidate/dashboard}">Dashboard</a>
                    <a sec:authorize="hasAuthority('ADMIN_COMPANY')" th:href="@{/company/dashboard}">Dashboard</a>
                </li>
                <li sec:authorize="hasAnyAuthority('CANDIDATE', 'ADMIN_COMPANY')" class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"
                       aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a th:href="@{/common/aboutus}">About Us</a></li>
                        <li class="menu-item"><a th:href="@{/common/work}">How It Works</a></li>
                        <li class="menu-item"><a th:href="@{/common/terms}">Terms And Condition</a></li>
                    </ul>
                </li>
<!--                <li sec:authorize="hasAnyAuthority('CANDIDATE', 'ADMIN_COMPANY')" class="menu-item"><a th:href="@{/common/contact}">Contact Us</a></li>-->
                <li sec:authorize="hasAnyAuthority('ADMIN_SYSTEM', 'ADMIN_COMPANY')" class="menu-item post-job"><a title="Title"
                                                  th:href="@{/job/add}"><i class="fas fa-plus"></i>Post a Job</a></li>
            </ul>
            <ul class="navbar-nav ml-auto account-nav">
                <li sec:authorize="!isAuthenticated()" class="menu-item login-popup">
                    <button title="Title"
                            type="button" data-toggle="modal" data-target="#exampleModalLong">Login
                    </button>
                </li>
                <li sec:authorize="isAuthenticated()" class="menu-item login-popup">
                    <div class="dropdown header-top-account">
                        <button class="account-button">My Account</button>
                        <div class="account-card">
                            <div class="header-top-account-info">
                                <a href="#" class="account-thumb">
                                    <img th:src="@{/images/account/thumb-1.jpg}" class="img-fluid" alt="">
                                </a>
                                <div class="account-body">
                                    <h5><a sec:authentication="name"></a></h5>
                                    <span class="mail" th:utext="${userInfor?.email}"></span>
                                </div>
                            </div>
                            <ul class="account-item-list">
                                <li sec:authorize="hasAuthority('CANDIDATE')"><a th:href="@{/candidate/dashboard/edit/profile}"><span class="ti-user"></span>Account</a></li>
                                <li sec:authorize="hasAuthority('ADMIN_COMPANY')"><a th:href="@{/employer/dashboard/profile/edit}"><span class="ti-user"></span>Account</a></li>
                                <li><a th:href="@{/logout}"><span class="ti-power-off"></span>Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="menu-item login-popup">
                    <button title="Title"
                            type="button" data-toggle="modal"
                            data-target="#exampleModalLong2">Registration
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Modal -->
    <div class="account-entry">
        <div class="modal fade" id="exampleModalLong" tabindex="-1"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i data-feather="user"></i>Login
                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Email Address"
                                       class="form-control" autofocus="autofocus">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password"
                                       class="form-control">
                            </div>
                            <div class="more-option">
                                <a th:href="@{/login/forgot_password}">Forget Password?</a>
                            </div>
                            <button class="button primary-bg btn-block">Login</button>
                        </form>
                        <div class="shortcut-login">
                            <p>
                                Don't have an account? <a data-toggle="modal"
                                                          data-target="#exampleModalLong2">Register</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalLong2" tabindex="-1"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i data-feather="edit"></i>Registration
                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <button class="btn btn-primary btn-lg" style="font-size: 16px; padding: 3% 5%; margin-right: 15%; margin-left: 15%;">
                                <a th:href="@{/register/candidate}">
                                    Candidate
                                </a>
                            </button>
                            <button class="btn btn-primary btn-lg" style="font-size: 16px; padding: 3% 5%;">
                                <a th:href="@{/register/company}">
                                    Company
                                </a>
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Banner -->
<div class="banner banner-1 banner-1-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-content">
                    <h1 th:utext="${countJob} + ' Job Listed'"></h1>
                    <p>Create free account to find thousands Jobs, Employment &
                        Career Opportunities around you!</p>
                    <a th:href="@{/candidate/resume/add}" class="button">Upload Resume</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Search and Filter -->
<div class="searchAndFilter-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
<!--                <div class="searchAndFilter-block">-->
                    <div class="searchAndFilter">
<!--                        <form action="#" class="search-form">-->
<!--                            <input type="text" placeholder="Enter Keywords"> <select-->
<!--                                class="selectpicker" id="search-location">-->
<!--                            <option value="" selected>Location</option>-->
<!--                            <option value="california">California</option>-->
<!--                            <option value="las-vegas">Las Vegas</option>-->
<!--                            <option value="new-work">New Work</option>-->
<!--                            <option value="carolina">Carolina</option>-->
<!--                            <option value="chicago">Chicago</option>-->
<!--                            <option value="silicon-vally">Silicon Vally</option>-->
<!--                            <option value="washington">Washington DC</option>-->
<!--                            <option value="neveda">Neveda</option>-->
<!--                        </select> <select class="selectpicker" id="search-category">-->
<!--                            <option value="" selected>Category</option>-->
<!--                            <option value="real-state">Real State</option>-->
<!--                            <option value="vehicales">Vehicales</option>-->
<!--                            <option value="electronics">Electronics</option>-->
<!--                            <option value="beauty">Beauty</option>-->
<!--                            <option value="furnitures">Furnitures</option>-->
<!--                        </select>-->
<!--                            <button class="button primary-bg">-->
<!--                                <i class="fas fa-search"></i>Search Job-->
<!--                            </button>-->
<!--                        </form>-->
                        <div class="filter-categories">
                            <h4>Job Skill</h4>
                            <ul>
                                <li th:each="skill : ${listSkills}" style="color: black;font-weight: bold">
                                    <i data-feather="bar-chart-2"></i>
                                    <a th:href="@{'/job/filter?skill=' + ${skill?.getName()} + '&level=&position=&city=&companyName=&jobType='}" th:utext="${skill?.getName()}"></a>
                                </li>
                            </ul>
                        </div>

                        <hr>

                        <div class="filter-categories">
                            <h4>Position</h4>
                            <ul>
                                <li th:each="position : ${listPosition}" style="color: black;font-weight: bold">
                                    <i data-feather="bar-chart-2"></i>
                                    <a th:href="@{'/job/filter?skill=&level=&position=' + ${position?.getName()} + '&city=&companyName=&jobType='}" th:utext="${position?.getName()}"></a>
                                </li>
                            </ul>
                        </div>

                        <hr>

                        <div class="filter-categories">
                            <h4>Job Level</h4>
                            <ul>
                                <li th:each="jobLevel : ${listJobLevel}" style="color: black;font-weight: bold">
                                    <i data-feather="bar-chart-2"></i>
                                    <a th:href="@{'/job/filter?skill=&level=' + ${jobLevel?.getName()} + '&position=&city=&companyName=&jobType='}" th:utext="${jobLevel?.getName()}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- Search and Filter End -->

<!-- Jobs -->
<div class="section-padding-bottom alice-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs job-tab" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="true">Recent Job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="feature-tab" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="false">Feature Job</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="job-list half-grid" th:each="job : ${listRecentJobFirst}">
                                    <div class="thumb">
                                        <a href="#">
                                            <img th:src="@{/images/job/company-logo-9.png}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4><a th:href="@{'/job/detail/'+${job.getJobId()}}" th:utext="${job?.jobTitle}"></a></h4>
                                            <div class="info">
                                                <span class="company">
                                                    <i data-feather="briefcase"></i>
                                                    <a href="#" th:utext="${job?.getCompany()?.getName()}"></a>
                                                </span>
                                                <span class="office-location">
                                                     <i data-feather="map-pin"></i>
                                                    <a href="#" th:utext="${job?.getCity()}"></a>
                                                </span>
                                                <span class="job-type full-time">
                                                    <i data-feather="clock"></i>
                                                    <a href="#" th:utext="${job?.getJobType()?.getName()}"></a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="more">
                                            <div class="buttons">
                                                <a href="#" class="button">Apply Now</a>
                                                <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                            </div>
                                            <p class="deadline" th:utext="'Deadline: ' + ${job?.getDeadline()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">

                                <div class="job-list half-grid" th:each="job : ${listRecentJobSecond}">
                                    <div class="thumb">
                                        <a href="#">
                                            <img th:src="@{/images/job/company-logo-2.png}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4><a th:href="@{'/job/detail/'+${job.getJobId()}}" th:utext="${job?.getJobTitle()}"></a></h4>
                                            <div class="info">
                                                <span class="company">
                                                    <i data-feather="briefcase"></i>
                                                    <a href="#" th:utext="${job?.getCompany()?.getName()}"></a>
                                                </span>
                                                <span class="office-location">
                                                     <i data-feather="map-pin"></i>
                                                    <a href="#" th:utext="${job?.getCity()}"></a>
                                                </span>
                                                <span class="job-type full-time">
                                                    <i data-feather="clock"></i>
                                                    <a href="#" th:utext="${job?.getJobType()?.getName()}"></a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="more">
                                            <div class="buttons">
                                                <a href="#" class="button">Apply Now</a>
                                                <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                            </div>
                                            <p class="deadline" th:utext="'Deadline: ' + ${job?.getDeadline()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="feature" role="tabpanel" aria-labelledby="feature-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="job-list half-grid" th:each="job : ${listFeatureJobFirst}">
                                    <div class="thumb">
                                        <a href="#">
                                            <img th:src="@{/images/job/company-logo-9.png}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4><a th:href="@{'/job/detail/'+${job.getJobId()}}" th:utext="${job?.jobTitle}"></a></h4>
                                            <div class="info">
                                                <span class="company">
                                                    <i data-feather="briefcase"></i>
                                                    <a href="#" th:utext="${job?.getCompany()?.getName()}"></a>
                                                </span>
                                                <span class="office-location">
                                                     <i data-feather="map-pin"></i>
                                                    <a href="#" th:utext="${job?.getCity()}"></a>
                                                </span>
                                                <span class="job-type full-time">
                                                    <i data-feather="clock"></i>
                                                    <a href="#" th:utext="${job?.getJobType()?.getName()}"></a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="more">
                                            <div class="buttons">
                                                <a href="#" class="button">Apply Now</a>
                                                <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                            </div>
                                            <p class="deadline" th:utext="'Deadline: ' + ${job?.getDeadline()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="job-list half-grid" th:each="job : ${listFeatureJobSecond}">
                                    <div class="thumb">
                                        <a href="#">
                                            <img th:src="@{/images/job/company-logo-2.png}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4><a th:href="@{'/job/detail/'+${job.getJobId()}}" th:utext="${job?.getJobTitle()}"></a></h4>
                                            <div class="info">
                                                <span class="company">
                                                    <i data-feather="briefcase"></i>
                                                    <a href="#" th:utext="${job?.getCompany()?.getName()}"></a>
                                                </span>
                                                <span class="office-location">
                                                     <i data-feather="map-pin"></i>
                                                    <a href="#" th:utext="${job?.getCity()}"></a>
                                                </span>
                                                <span class="job-type full-time">
                                                    <i data-feather="clock"></i>
                                                    <a href="#" th:utext="${job?.getJobType()?.getName()}"></a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="more">
                                            <div class="buttons">
                                                <a href="#" class="button">Apply Now</a>
                                                <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                            </div>
                                            <p class="deadline" th:utext="'Deadline: ' + ${job?.getDeadline()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="text-align: center"><a id="see-more" style="color: grey; font-size: 16px; padding-top: 4%;" th:href="@{/job/list(pageNumber=1, keyword='')}">See More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->

<!-- Top Companies -->
<div class="section-padding-top padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>Top Companies</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="company-carousel owl-carousel">
                    <div class="company-wrap" th:each="company:${topCompanyList}">
                        <div class="thumb">
                            <a th:href="@{'/company/detail/'+${company.getCompanyId()}}"> <img th:src="@{/images/company/company-logo-1.png}"
                                                                                               class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h4>
                                <a th:href="@{'/company/detail/'+${company.getCompanyId()}}" th:text="${company.getName()}"></a>
                            </h4>
                            <span th:text="${company.getCity()}"></span> <a th:text="${company.getOpenJobNumber()}+' Open Position'">4 Open Positions</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Companies End -->

<!-- Fun Facts -->
<div class="padding-top-90 padding-bottom-60 fact-bg">
    <div class="container">
        <div class="row fact-items">
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="briefcase"></i>
                    </div>
                    <p class="fact-number">
                        <span class="count" data-form="0" th:attr="data-to=${countJob}"></span>
                    </p>
                    <p class="fact-name">Live Jobs</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="users"></i>
                    </div>
                    <p class="fact-number">
                        <span class="count" data-form="0" th:attr="data-to=${countCandidate}"></span>
                    </p>
                    <p class="fact-name">Candidate</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="file-text"></i>
                    </div>
                    <p class="fact-number">
                        <span class="count" data-form="0" th:attr="data-to=${countUserAppliedJob}"></span>
                    </p>
                    <p class="fact-name">Apply Online</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="award"></i>
                    </div>
                    <p class="fact-number">
                        <span class="count" data-form="0" th:attr="data-to=${countCompany}"></span>
                    </p>
                    <p class="fact-name">Companies</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fun Facts End -->

<!-- Registration Box -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="call-to-action-box candidate-box">
                    <div class="icon">
                        <img th:src="@{/images/register-box/1.png}" alt="">
                    </div>
                    <span>Are You</span>
                    <h3>Candidate?</h3>
                    <a th:href="@{/register/candidate}">Register Now <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="call-to-action-box employer-register">
                    <div class="icon">
                        <img src="images/register-box/2.png" alt="">
                    </div>
                    <span>Are You</span>
                    <h3>Employer?</h3>
                    <a th:href="@{/register/company}">Register Now <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration Box End -->

<!-- Modal -->
<div class="account-entry">
    <div class="modal fade" id="exampleModalLong3" tabindex="-1"
         role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i data-feather="edit"></i>Registration
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="account-type">
                        <a href="#" class="candidate-acc"><i data-feather="user"></i>Candidate</a>
                        <a href="#" class="employer-acc active"><i
                                data-feather="briefcase"></i>Employer</a>
                    </div>
                    <form action="#">
                        <div class="form-group">
                            <input type="text" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email Address"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password"
                                   class="form-control">
                        </div>
                        <div class="more-option terms">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""
                                       id="defaultCheck3"> <label class="form-check-label"
                                                                  for="defaultCheck3"> I accept the <a href="#">terms
                                & conditions</a>
                            </label>
                            </div>
                        </div>
                        <button class="button primary-bg btn-block">Register</button>
                    </form>
                    <div class="shortcut-login">
                        <span>Or connect with</span>
                        <div class="buttons">
                            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                            <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                        </div>
                        <p>
                            Already have an account? <a href="#">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/sub-footer"></div>
</body>
<div th:replace="common/footer :: footer"></div>
</html>
